@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/BebasNeueBold.ttf");
}
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf");
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSans-Semibold.ttf");
}
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSans-Italic.ttf");
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "icomoon";
    src:  url('../fonts/icomoon.eot?52t49h');
    src:  url('../fonts/icomoon.eot?52t49h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?52t49h') format('truetype'),
    url('../fonts/icomoon.woff?52t49h') format('woff'),
    url('../fonts/icomoon.svg?52t49h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon"!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
}

.icon-all_other_products_minus-01:before {
    content: "\e900";
}
.icon-all_other_products_plus-01:before {
    content: "\e901";
}
.icon-AMD-01:before {
    content: "\e902";
}
.icon-arrow_left-01:before {
    content: "\e903";
}
.icon-arrow_right-01:before {
    content: "\e904";
}
.icon-articles-01:before {
    content: "\e905";
}
.icon-attach_file-01:before {
    content: "\e906";
}
.icon-basket-01:before {
    content: "\e907";
}
.icon-button_arrow-01:before {
    content: "\e908";
}
.icon-category_arrow-01:before {
    content: "\e909";
}
.icon-checked-01:before {
    content: "\e90a";
}
.icon-credit-01:before {
    content: "\e90b";
}
.icon-delete_filter-01:before {
    content: "\e90c";
}
.icon-delivery-01:before {
    content: "\e90d";
}
.icon-fb-01:before {
    content: "\e90e";
}
.icon-grid_view-01:before {
    content: "\e90f";
}
.icon-guarantee-01:before {
    content: "\e910";
}
.icon-header_dropdown_arrow-02:before {
    content: "\e911";
}
.icon-inside_pages_back_arrow-01:before {
    content: "\e912";
}
.icon-inside_pages_next_arrow-01:before {
    content: "\e913";
}
.icon-insta-01:before {
    content: "\e914";
}
.icon-list_view-01:before {
    content: "\e915";
}
.icon-little_guarantee_icon-01:before {
    content: "\e916";
}
.icon-logo-01:before {
    content: "\e917";
}
.icon-main_product_minus-01:before {
    content: "\e918";
}
.icon-main_product_plus-01:before {
    content: "\e919";
}
.icon-menu_hamburger-01:before {
    content: "\e91a";
}
.icon-mobile_close-01:before {
    content: "\e91b";
}
.icon-mobile_dropdown-01:before {
    content: "\e91c";
}
.icon-mobile_filter_icon-01:before {
    content: "\e91d";
}
.icon-mobile_footer_arrow_down-01:before {
    content: "\e91e";
}
.icon-mobile_footer_arrow_up-01:before {
    content: "\e91f";
}
.icon-mobile_rating_big_empty-01:before {
    content: "\e920";
}
.icon-mobile_rating_big_filled-01:before {
    content: "\e921";
}
.icon-mobile_rating_small_empty-01:before {
    content: "\e922";
}
.icon-mobile_rating_small_filled-01:before {
    content: "\e923";
}
.icon-moon-01:before {
    content: "\e924";
}
.icon-phone_number-01:before {
    content: "\e925";
}
.icon-pinterest-01:before {
    content: "\e926";
}
.icon-popup_close-01:before {
    content: "\e927";
}
.icon-price_tag-01:before {
    content: "\e928";
}
.icon-print-01:before {
    content: "\e929";
}
.icon-product_list_delete-01:before {
    content: "\e92a";
}
.icon-profile-01:before {
    content: "\e92b";
}
.icon-radiobutton_off-01:before {
    content: "\e92c";
}
.icon-radiobutton_on-01:before {
    content: "\e92d";
}
.icon-rating_big_empty-01:before {
    content: "\e92e";
}
.icon-rating_big_filled-01:before {
    content: "\e92f";
}
.icon-rating_small_empty-01:before {
    content: "\e930";
}
.icon-rating_small_filled-01:before {
    content: "\e931";
}
.icon-red_text_field_star-01:before {
    content: "\e932";
}
.icon-reviews-01:before {
    content: "\e933";
}
.icon-scroll_down_arrow-01:before {
    content: "\e934";
}
.icon-search-01:before {
    content: "\e935";
}
.icon-send_icon-01:before {
    content: "\e936";
}
.icon-send_us_a_message-01:before {
    content: "\e937";
}
.icon-share-01:before {
    content: "\e938";
}
.icon-shops-01:before {
    content: "\e939";
}
.icon-subscribe-01:before {
    content: "\e93a";
}
.icon-talk-to-expert-01:before {
    content: "\e93b";
}
.icon-time_icon-01:before {
    content: "\e93c";
}
.icon-unchecked-01:before {
    content: "\e93d";
}
.icon-youtube-01:before {
    content: "\e93e";
}
.icon-zoom-01:before {
    content: "\e93f";
}
