header{
  background-image: url("../images/header-background.png");
    background-size: cover;
  position: relative;
  padding-left: 30px;
    background-repeat: no-repeat;
  height: 65px;
  z-index: 998;
}
header .navbar-default {
  background-color: transparent;
  border-color: transparent;
  width:calc(100% - 70px);
    width:-webkit-calc(100% - 70px);
    width:-moz-calc(100% - 70px);
  margin-left: 70px;
}
.navbar-form{
    box-shadow: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}
header .nav-menu-wrapper{
  margin-top: 12px;
}
#sidebar {
    height: calc(100vh);
    height:-webkit-calc(100vh);
    height:-moz-calc(100vh);
      background: #f2f2f2;
      display: block;
      position: absolute;
      left: -462px;
        -webkit-transition: left 500ms linear;
        -moz-transition: left 500ms linear;
        -o-transition: left 500ms linear;
        transition: left 500ms linear;
      padding: 18px 28px;
      z-index: 999;
}

#sidebar.visible {
  left: 0;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
}

#sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    position: absolute;
    left: 34px;
    top: 13px;
}

#sidebar-btn span {
  font-size: 36px;
  display: block;
}
#sidebar ul li { list-style: none;}

#sidebar ul.sidebar-product-list li a {
  background: #fff;
    display: block;
    width: 181px;
    height: 168px;
    text-transform: uppercase;
  text-decoration: none;
    margin: 0 auto 8px auto;
    border: 2px solid transparent;
    -webkit-transition: border 300ms ease-out;
    -moz-transition: border 300ms ease-out;
    -o-transition: border 300ms ease-out;
    transition: border 300ms ease-out;

}
#sidebar ul.sidebar-product-list li a.sale{
    border-color: rgb(209, 65, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "BebasNeueBold",sans-serif;
    padding: 0;
}
#sidebar ul.sidebar-product-list li a.sale p{
    font-size: 40px!important;
    color: rgb(209, 65, 60);
    font-family: "BebasNeueBold",sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}
#sidebar ul.sidebar-product-list li a:not(.sale):hover{
    border-color: rgb(0, 148, 217);
}
#sidebar ul.sidebar-product-list li a{
    font-family: "OpenSansRegular",sans-serif;
}
#sidebar ul.sidebar-menu li a {
    padding: 24px 15px;
    font-size: 16px;
    font-family: "OpenSansRegular",sans-serif;
    color: rgb(0, 148, 217);
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: border 300ms ease-out;
    -moz-transition: border 300ms ease-out;
    -o-transition: border 300ms ease-out;
    transition: border 300ms ease-out;
}
@media screen and (min-width: 1921px) {
    #sidebar ul.sidebar-product-list li a {
        width: 181px;
        height: 168px;
    }
    #sidebar .products-list-item img{
        width: 133px;
        height: 106px;
    }
}
@media screen and (min-width: 768px) {

    #sidebar .products-list-item img{
        height:-webkit-calc(9vh)!important;
        height:-moz-calc(9vh)!important;
        height: calc(9vh)!important;
        width: 100%;
        max-height: 155px!important;
    }
    #sidebar ul.sidebar-product-list li a {
        width: 100%;
        height:-webkit-calc(17vh)!important;
        height:-moz-calc(17vh)!important;
        height: calc(17vh)!important;
        max-height: 170px!important
    }
    #sidebar ul.sidebar-menu li a{
        padding: 9px 15px;
    }
}
@media screen and (max-width: 767px) {

    #sidebar .products-list-item img{
        height: 94px;
        width: 110px;
    }
    #sidebar ul.sidebar-product-list li a {
        width: 138px;
        height: 130px;
    }
    /*#sidebar ul.sidebar-menu li a{*/
        /*padding: 9px;*/
    /*}*/
    #sidebar .sidebar-product-list li:nth-child(even) > a{
        float: left;
    }
    #sidebar .sidebar-product-list li:nth-child(odd) > a{
        float: right;
    }
.product-item .product-sort-row .product-sort{
    width: 78%;
}
    .product-item .product-sort-row .product-sort > button{
        width: 32%;
    }
}
#sidebar .products-list-item p  {
    font-size: 16px;
    font-family: "OpenSansRegular", sans-serif;
    color: rgb(0, 148, 217);
    text-transform: uppercase;
}

header .navbar-default input.form-control{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
    height: 37px;
    margin-top: -9px;
    padding-left: 54px;
}
@media screen and (min-width: 1600px){
    header .navbar-default input.form-control{
        width: 598px;
    }
}
@media screen and (min-width: 991px) and (max-width: 1200px){
    header .navbar-default input.form-control{
        width: 215px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1599px){
    header .navbar-default input.form-control{
        width: 328px;
    }
}
header .navbar-default .form-group{
    position: relative;
    color: rgb(93, 93, 93);
    font-size: 14px;
}
.navbar-nav .open .dropdown-menu{
    background: #fff;
}
header .navbar-default input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(93, 93, 93);
    font-family: "OpenSansLight",sans-serif;
}
header .navbar-default input.form-control::-moz-placeholder { /* Firefox 19+ */
    color: rgb(93, 93, 93);
    font-family: "OpenSansLight",sans-serif;
}
header .navbar-default input.form-control:-ms-input-placeholder { /* IE 10+ */
    color: rgb(93, 93, 93);
    font-family: "OpenSansLight",sans-serif;
}
header .navbar-default input.form-control:-moz-placeholder { /* Firefox 18- */
    color: rgb(93, 93, 93);
    font-family: "OpenSansLight",sans-serif;
}
header .navbar-default .form-group .btn-search{
    position: absolute;
    left: 13px;
    top: -7px;
    font-size: 18px;
    line-height: 1.929;
    background: none;
    border: none;
}
header .navbar-brand {
    padding: 0;
    font-size: 38px;
    height: 43px;
    color: rgb(0, 148, 217)!important;
    margin-top: 10px;
}

@media screen and (min-width: 1155px) {
    header .navbar-right{
        margin-top: -8px;
    }
}

header .navbar-right ul li a {
    font-size: 13px;
    font-family: "OpenSans",sans-serif;
    color: rgb(93, 93, 93);
    line-height: 2.077;
}
header .navbar-right > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .navbar-right ul:not(.account-dropdown-xs) li a {
    line-height: 2.077;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .navbar-right li a span[class^="icon-"]{
     margin-right: 10px;
    font-size: 24px;
}
header .navbar-right li:last-child{
    margin-top: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px){
    header .navbar  li:not(.hidden-sm), header  .nav > li:not(.hidden-sm){
        display: inline-block;
    }
    header .navbar  li.hidden-sm{
        display: none!important;
        visibility: hidden!important;
    }
}
.welcome-section{
    background: url(../images/background-girl.png) no-repeat;
    height: calc(100vh - 57px);
    height:-webkit-calc(100vh - 57px);
    height:-moz-calc(100vh - 57px);
    width: 100%;

    background-position: top center;
    background-size: cover;
    top: -8px;
    position: relative;
}

.welcome-section .welcome-content .welcome-title {
    font-family: "OpenSansBold",sans-serif;
    font-size:70px;
    color: rgb(56, 58, 63);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}
.welcome-section .welcome-content p{
    font-family: "OpenSansItalic",sans-serif;
    font-size: 26px;
    color: rgb(35, 31, 32);
}
.welcome-section .welcome-content .btn-discover{
    font-family: "OpenSans",sans-serif;
    font-size: 16px;
    color: rgb(0, 148, 217);
    text-transform: uppercase;
    line-height: 1.227;
    background: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0px 3px 4px #989797;
    font-weight: bold;
    padding: 14px 52px;
    margin-top: 19px;
}
.welcome-section .welcome-content .btn-discover:hover{
    background-color: rgb(0, 148, 217);
    color: #fff;
}
#sidebar .btn-close{
    background: transparent;
    color: #58b9e6;
    border: none;
    margin-bottom: 18px;
    font-size: 17px;
}
header .navbar-right .dropdown .dropdown-menu li:last-child{
    margin-top: 0;
}
header .navbar-right .dropdown.contact-us-dropdown .dropdown-menu li:last-child {
    text-decoration: underline!important;
    text-transform: lowercase!important;
}
.navbar-right .dropdown-menu li a:hover{
    background: #fff;
}
header .navbar-right .dropdown-menu li a{
    font-size: 12px;
}
header .navbar-right .dropdown .caret{
    margin-left: 8px;
}
.navbar-right .dropdown.contact-us-dropdown .dropdown-menu{
    text-align: center;
}
.navbar-right .dropdown.account-dropdown .dropdown-menu li{
    text-transform: capitalize;
    border-bottom: 2px solid #f8f8f8;
}
header .navbar-right .dropdown.account-dropdown .dropdown-menu  li:last-child{
    border-bottom: none!important;
}
header .navbar-right .dropdown.language-dropdown .dropdown-menu.language-dropdown-menu{
    min-width: 70px!important;
    max-width: 100px!important;
}


@media screen and (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        top: 45px;
        border: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }
    #sidebar {
        width: 367px;
    }

}

@media screen and (min-width: 768px){
    footer {
        margin-top: -10px;
    }
    .basket-item-row .basket-item-img{
        width: 147px;
        padding: 0 18px;
    }
    .basket-item-img img{
        width: 106px;
        height: 61px;

    }
    .basket-item-row .basket-item-size{
        width: 105px;
        padding: 0 8px;
    }
    .basket-item-row .basket-item-amount{
        width: 85px;
        padding: 0 8px;
    }
    .basket-item-row .basket-item-price{
        width: 76px;
        padding: 0 8px;
    }
    .basket-item-row .basket-item-price span[class^="icon-"]{
        margin-left: 1px;
    }
    .basket-item-row .basket-item-remove{
        width: 55px;
        padding: 0 18px;
    }
}

.basket-item-row .basket-item-amount .btn-danger, .basket-item-row .basket-item-amount .btn-success{
    background: transparent;
    border: none;
    color: #716262;
    font-size: 12px;
}
button:focus{
    outline: none!important;
    box-shadow: none!important;
}
.basket-amount, .basket-amount-1{
    border: none;
    box-shadow: none!important;
    background: #f2f2f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
}
.basket-amount-1{
    padding: 0 4px!important;
    width: 30px!important;
}
.basket-dropdown-menu .basket-item-row .basket-item-amount i{
    font-size: 10px;
}
.basket-dropdown-menu .basket-item-row .basket-item-amount .btn-success, .basket-dropdown-menu .basket-item-row .basket-item-amount .btn-danger {
    padding: 0!important;
}
.basket-dropdown-menu .basket-item-row .input-group-btn{
 width: 12px!important;
}
.basket-dropdown-menu .basket-item-row form{
    margin-top: 28px;
}
.basket-dropdown-menu .basket-item-row input{
    height: 30px!important;
    margin-right: 4px;
}
.basket-item-row .form-control, .basket-item-row .input-group-addon, .basket-item-row .input-group-btn{
    display: inline-block;
    width: 32px;
}
.basket-item-row .form-control{
    float: none;
}
.basket-item-row form {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 767px){
    .basket-item-row .basket-item-size,.basket-item-row .basket-item-amount,.basket-item-row  .basket-item-img {
        width: 33.33333%;
        padding: 0 8px;
    }
    .navbar-nav .open .basket-dropdown-menu{
        width: calc(100vw)!important;
        width:-webkit-calc(100vw)!important;
        width:-moz-calc(100vw)!important;
        min-height: calc(100vh)!important;
        min-height:-webkit-calc(100vh)!important;
        min-height:-moz-calc(100vh)!important;
        overflow-y: auto;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

    }
    .basket-item-row  .basket-item-img img{
        width: 74px;
        height: 44px;
    }
    .basket-item-remove{
        position: absolute;
        top: -10px;
        right: 0;
        height: 22px;
        width: 32px;
    }
    .dropdown-menu.basket-dropdown-menu li:first-child, .dropdown-menu.basket-dropdown-menu>li.basket-btns, .basket li:first-child{
        display: block;
        text-align: center;
    }
    .basket-item-amount{
       border-right: 0!important;
    }
    .dropdown-menu.basket-dropdown-menu .icon-mobile_close-01{
        color: #989797;
        cursor: pointer;
    }
    .account-dropdown-xs{
        width:-webkit-calc(100vw - 8px)!important;
        width:-moz-calc(100vw - 8px)!important;
        width: calc(100vw - 8px)!important;
        position: absolute!important;
        top:0;
        left: calc(-100vw + 85px);
        left:-webkit-calc(-100vw + 85px);
        left:-moz-calc(-100vw + 85px);
        text-align: left!important;
        padding: 0;
    }
    .navbar-right .account-dropdown-xs li{
       width: 100%;
        padding: 20px 12px;
        text-align: left!important;
    }
    .navbar-right .account-dropdown-xs li a{
        text-align: left!important;
        padding-left: 0!important;
        font-size: 12px;
        font-family: "OpenSans",sans-serif;
        color: rgb(93, 93, 93);
        text-transform: uppercase;
    }

    .navbar-right .account-dropdown-xs li:first-child{
        background: #dedfe2;
        padding: 13px 12px;
    }
    .navbar-right .account-dropdown-xs li.user{
        position: relative;
    }
    .navbar-right .account-dropdown-xs li.user::before,  .navbar-right .account-dropdown-xs li.user::after {
        content: '';
        position: absolute;
        left: 10px; bottom: -20px;
        border: 10px solid transparent;
        border-top: 10px solid #dedfe2;
    }
    .navbar-right .account-dropdown-xs li.user::after {
        border-top: 10px solid #dedfe2;
        bottom: -19px;
    }

    .navbar-right .account-dropdown-xs li.login a{
        display: inline-block;
        text-transform: uppercase;
    }
    .navbar-right .account-dropdown-xs li.login span:first-child:after{
        content: "|";
        margin: 0 0 0 5px;
    }
}


@media screen and (max-width: 767px){
    header{
        margin-bottom: 35px
    }
    #sidebar{
        width:-webkit-calc(100vw)!important;
        width:-moz-calc(100vw)!important;
        width: calc(100vw)!important;
        height: 100vh!important;
        padding-top: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0;
    }
    #sidebar ul.sidebar-product-list li a{
        width: 180px;
        height: 164px;
    }
    #sidebar .btn-close{
        margin: 18px 23px;
        color: grey;
    }
    header .navbar-brand{
        float: none;
    }
    .tabs-under-header .nav-tabs.nav-justified{
        display: table!important;
    }
    .tabs-under-header .nav-tabs.nav-justified li{
        display: table-cell;
        border-left:1px solid #808080;
    }
    .tabs-under-header .nav-tabs.nav-justified li:first-child{
        border-left:none;
    }
    .tabs-under-header .nav-justified li.active a, .tabs-under-header .nav-justified li a:hover{
        height: 86px!important;
    }
    .tabs-under-header .nav-tabs.nav-justified li a{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        padding-right: 2px;
        padding-left: 2px;
    }
    .welcome-section {
        height:-webkit-calc(100vh - 37px);
        height:-moz-calc(100vh - 37px);
        height: calc(100vh - 37px);
        top: 0;
    }
    .tabs-under-header{
        margin-top: 0!important;
    }
    .basket-dropdown-menu{
        width: 100%!important;
        min-height:100vh;
        position: absolute;
        width: 100vw;
        right: 0;
        top: -52px;
    }
    .basket-item-row{
        width: 100%;
    }
    .basket-item-row .basket-item-img,.basket-item-row .basket-item-size, .basket-item-row .basket-item-amount{
        width: 33.333%;
        padding: 0 18px;
    }
    .welcome-content{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    .welcome-content > .welcome-title {
        font-size: 32px!important;
    }
    .welcome-content > p {
        font-size: 12.781px!important;
    }
    .navbar-default .navbar-form{
        border: none;
        margin-top: 31px;
    }
    .navbar-default .navbar-form .form-group {
        width:-webkit-calc(100% + 132px);
        width:-moz-calc(100% + 132px);
        width: calc(100% + 132px);
        left: -116px;
        top: -15px;
        height: 49px;
    }
    .navbar-default .navbar-form .form-group input{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        border-right:0;
        border-left:0;
        background: rgba(255,255,255,.5);
    }
    header .navbar-default {
        width:-webkit-calc(100% - 36px);
        width:-moz-calc(100% - 36px);
        width: calc(100% - 36px);
        margin-left: 36px;
    }
    header .navbar-default{
        padding-top: 7px;
    }
    header .navbar-right li a{
        padding-left: 0;
        padding-right: 0;
    }
    header .badge {
        left: 16px!important;
        top: 5px!important;
    }
    #sidebar-btn{
        left: 12px;
    }
    header .navbar-right {
        margin-top: -121px;
        padding-right: 9px;
    }
    .pull-left-xs{
        float: left;
    }
    .pull-right-xs{
        float: right;
    }
    .navbar-right{
        text-align: right;
    }
    header .navbar-brand{
        font-size: 23px;
    }
    #sidebar-btn {
        top:5px;
    }
    header{
        height: 38px;
    }
    header .nav-menu-wrapper {
        margin-top: -16px;
    }
    header .navbar-brand{
        margin-left: -47px;
    }
    .collections-tab li a{
        font-size: 10px!important;
    }
    .add-banner{
        font-size: 39.248px!important;
        font-weight: bold;
        margin-top: 0!important;
        height: 109px!important;
}
    .basket-item-size p, .basket-item-amount form{
        margin-top: 12px;
    }

}


.dropdown-menu.basket-dropdown-menu li:first-child, .basket li:first-child{
    padding: 16px 19px;
    font-family: "OpenSans",sans-serif;
    color: rgb(0, 148, 217);
    font-weight: 600;
}
.dropdown-menu.basket-dropdown-menu li, .basket li{
    border-bottom: 2px solid #f2f2f2;
}
.dropdown-menu.basket-dropdown-menu li:last-child, .basket li:last-child{
    border-bottom: 2px solid transparent;
}
.dropdown-menu.basket-dropdown-menu .basket-item-row{
    padding: 22px 0;
    height: 116px;
    clear: both;
    position: relative;
}
.basket .basket-item-row{
    clear: both;
    position: relative;
    width: 100%;
    display: inline-block;
}
.basket .basket-item-img {
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 1.143;
}

@media screen and (min-width: 768px) {
    .basket-item-row .basket-item-price span[class^="icon-"]{
        display: inline-block;
    }
    .basket .basket-item-img{
        width:30%;
    }
    .basket .basket-item-size,  .basket .basket-item-amount{
        width: 22%;
    }
    .basket .basket-item-price, .basket .basket-item-remove{
        width: 13%;
        height: 155px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .basket .basket-item-row .basket-remove-confirm{
        padding: 43px;
    }
    .basket .basket-item-img,  .basket .basket-item-size,  .basket .basket-item-amount,.basket .basket-item-price, .basket .basket-item-remove{
        height: 128px;
    }
    .basket .basket-item-img img{
        width:104px;
        height: 68px;
    }

    .basket .basket-item-size p,.basket .basket-item-price p{
        margin-top: 20px;
    }
    .basket-amount{
        width: 45px!important;
    }

    .basket-item-row form{
         margin-top: 24px;
    }

}

.basket-item-row form{
    z-index: 10;
}
.basket-remove-confirm{
    z-index: 12;
}
.basket .basket-item-desc{
    margin-top: 6px;
}


.basket .basket-item-size p > span,.basket .basket-item-price p  span{
    display: block;
    margin-top: 7px;
    text-align: center;
}
@media screen and (min-width: 992px) {
    .basket-amount{
        width: 55px!important;
    }
    .basket .basket-item-row .basket-remove-confirm{
        padding: 71px;
    }
    .basket .basket-item-row {
        padding: 32px 0;
        height: 224px;
    }
    .basket .basket-item-img,  .basket .basket-item-size,  .basket .basket-item-amount,.basket .basket-item-price, .basket .basket-item-remove{
        height: 155px;
    }
    .basket .basket-item-img img{
        width: 166px;
        height: 136px;
        margin-bottom: 12px
    }
    .basket .basket-item-size p,.basket .basket-item-price p{
        margin-top: 40px;
    }
    .basket .basket-item-amount form{
        margin-top: 50px;
        height: 30px;
    }
}

.basket .basket-item-remove{
    border-right: none;
}
.basket .basket-item-row{
    clear: both;
    position: relative;
}
.basket-item-row span {
    font-size: 10px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 1.2;
    text-align: left;
    font-weight: 700;
}

.basket-item-row > div{
    float: left;
    text-align: center;
    height: 79px;
}
.dropdown-menu.basket-dropdown-menu{
    min-height:-webkit-calc(100vh - 50px);
    min-height:-moz-calc(100vh - 50px);
    min-height: calc(100vh - 50px);
}
.dropdown-menu.basket-dropdown-menu>li.basket-btns{
    padding: 19px;
}
.dropdown-menu.basket-dropdown-menu>li.basket-btns>a{
    display: inline-block;
    padding: 8px 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 38px;
    width: 133px;
}

.basket-item-row .basket-remove-confirm{
    background: rgba(243, 243, 243,.9);
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    padding: 23px;
    display: none;
}
.basket-remove-confirm button{
    font-size: 10px;
    padding: 9px 20px;
}
.basket-remove-confirm p{
    font-size: 14px;
    font-family: "OpenSans",sans-serif;
    color: rgb(0, 148, 217);
    font-weight: bold;
}
.basket-item-row > div{
    border-right:1px solid #ddd;
}
.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-row > div:last-child,.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-row .basket-item-remove{
    border-right:0!important;
}
.navbar-right .dropdown-menu.basket-dropdown-menu{
    background: #fff;
}
.navbar-right .dropdown-menu.basket-dropdown-menu li:last-child{
    text-transform: none;
}
.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-size p, .navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-img .basket-item-desc{
    font-size: 10px;
}
.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-size p, .navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-price p{
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
    margin-top: 22px;
    height: 30px;
}

.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-img .basket-item-desc {
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 1.2;
    text-align: left;
    font-weight: 700;
}
.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-amount p{
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-size p > span, .navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-price p > span, .basket .basket-item-price p > span{
    display: block;
    margin-top: 7px;
    text-align: center;
}

.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-price .old-price, .basket .basket-item-price .old-price{
    text-decoration:line-through;
}
.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-price .new-price, .basket .basket-item-price .new-price{
    font-size: 12px;
}

.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-remove, .basket .basket-item-remove{
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket .basket-item-remove .btn-remove{
    font-size: 24px!important;
}
.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-remove .btn-remove, .basket .basket-item-remove .btn-remove{
    background: none;
    border: none;
}
.navbar-right .dropdown-menu.basket-dropdown-menu .basket-item-remove .btn-remove, .basket .basket-item-remove .btn-remove{
    font-size: 14px;
    cursor: pointer;
}
@media screen and (min-width: 991px){
    .navbar-right .dropdown-menu.basket-dropdown-menu{
        /*width: 617px;*/
        right: -76px;
    }
    .welcome-section .welcome-content{
        top: 12%;
        position: absolute;
        left: 11%;
        width: 496px;
    }
    .pull-right-md{
        float: right!important;
    }
}
@media screen and (max-width: 991px) {
    .basket .basket-item-row{
        padding: 20px 0;
    }
    .basket-item-row .basket-item-amount .btn-danger, .basket-item-row .basket-item-amount .btn-success{
        padding: 6px;

    }
    .basket-item-row .input-group-addon, .basket-item-row .input-group-btn{
        width: 21px!important;
        display: inline-block!important;
    }
    .basket-item-img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media screen and (min-width: 1300px){
    .welcome-section .welcome-content{
        width: 580px;
    }
}
@media screen and (min-width: 768px){
    .navbar-right .dropdown-menu.basket-dropdown-menu{
        width: 468px;
    }
}
.scroll-down{
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.btn-scroll-down{
    background: transparent;
    border: none;
}
.btn-scroll-down{font-size: 38px;}
.scroll-down p{
    font-size: 14px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(35, 31, 32);
    line-height: 1.929;
}

header .badge{
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: 16px;
    min-width: 16px;
    font-size: 9px;
    text-align: center;
    position: absolute;
    left: 36px;
    top: 12px;
    padding: 0;
    background-color: #0094d9;
    font-family: "OpenSans",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.7;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .m-r-0-sm{
        margin-right: 0;
    }
    .m-l-0-sm{
        margin-right: 0;
    }
    .text-center-sm{
        text-align: center!important;
    }
    .text-left-sm{
        text-align: left!important;
    }
    .text-right-sm{
        text-align: right!important;
    }
    .pull-left-sm{
        float: left!important;
    }
    .pull-right-sm{
        float: right!important;
    }
    .p-r-30-sm{
        padding-right: 30px;
    }

    header .navbar-default .navbar-right > li > a {
        padding: 10px 4px;
    }
    header .badge {
        left: 28px;
    }
    header .navbar-brand img{
     width:149px;
     height: 43px;
 }

    .welcome-content{
        text-align: center;
        width: 564px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    .welcome-content > p {
        font-size: 32px!important;
    }
    header .navbar-default input.form-control{
        border: none;
    }
    #sidebar-btn{
        width: 32px;
        left: 30px;
    }
    header .navbar-default{
        margin-left:59px;
        width:-webkit-calc(100% - 59px);
        width:-moz-calc(100% - 59px);
        width: calc(100% - 59px);
    }
    /*header .navbar-right .dropdown .caret {*/
        /*margin-left: -1px;*/
    /*}*/

    .collections-tab li a{
        font-size: 16px!important;
    }


}
@media screen and (min-width: 991px) and (max-width: 1152px){
    header .navbar-default .navbar-right > li > a {
        padding: 10px 2px;
    }
    header .badge {
        left: 22px;
        top: 13px;
    }
    header .navbar-form {
        padding-left: 7px;
        padding-right: 7px;
    }
}

.tabs-under-header{
    height: 85px;
    background: #383a3f;
    margin-top: -8px;
}
.tabs-under-header .nav-tabs{
    border: none;
}
.tabs-under-header .nav-tabs li{
    margin-bottom: 0;
}
.tabs-under-header .nav-justified a{
    height: 85px;
    background: #383a3f;
    border: none;
    white-space: normal;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius: 0;
    border-radius: 0;
}
.tabs-under-header .nav-justified li:not(.active) a{
    height: 86px;
}
.tabs-under-header .nav-justified.nav-tabs>li:focus{
    outline: none;
}
.tabs-under-header .nav-justified.nav-tabs>li.active>a, .tabs-under-header .nav-justified.nav-tabs>li.active>a:focus, .tabs-under-header .nav-justified.nav-tabs>li.active>a:hover,.tabs-under-header .nav-justified a:hover, .tabs-under-header .btn-group-justified a:focus, .tabs-under-header .nav-justified a:active{
    background: #4c4e53;
    color: #fff;
    border: none!important;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: none;
}
@media screen and (max-width: 991px){
    .container{
        width: 100%;
    }
    .tabs-under-header .nav-justified li.active a, .tabs-under-header .nav-justified li a:hover{
        height: 85px!important;
    }
}
.add-banner{
    margin-top: 14px;
    background: #f2f2f2;
    text-transform: uppercase;
    color: #d4d4d4;
    height: 217px;
    font-size: 80px;
    font-family: "OpenSans",sans-serif;
    color: rgba(93, 93, 93, 0.2);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.collection-tags {
    margin-bottom: 19px;
}
.tabs-under-header  .nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
}
.tabs-under-header  .nav-tabs.nav-justified>li>a span{
    font-size: 32px;
}
.nav-tabs{
    border-bottom: none;
}
.collections{
    padding-bottom: 70px;
}
 .explore {
    font-size: 24px;
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
    text-transform: uppercase;
    margin-top: 29px;
    margin-bottom: 125px;
}
.explore-col-img{
    width: 500px;
    height: 280px;
}
@media screen and (min-width: 766px) and (max-width: 991px){
    .explore-col-img {
        width: 420px;
        height: 248px;
    }
}
@media screen and (min-width: 586px) and (max-width: 765px){
    .explore-col-img{
        width: 300px;
        height: 180px;
    }
}
@media screen and (min-width: 381px) and (max-width: 585px){
    .explore-col-img {
        width: 200px;
        height: 120px;
    }
}
@media screen and (max-width:380px){
    .explore-col-img {
        width: 130px;
        height: 94px;
    }
}
.collections-tab li{
    float: none;
    background: none;
    font-weight: 700;
}
.collections-tab li:hover, .collections-tab li.active{
    background: none;
}

.collections-tab li a {
    font-size: 20px;
    font-family: "OpenSans",sans-serif;
    color: rgba(93, 93, 93, 0.4);
    text-transform: uppercase;
    line-height: 1.227;
}

.collections-tab li.active a {
    border-right: none!important;
    border-top: none!important;
    border-bottom:none!important;
}
.collections-tab li:first-child{
    border-left: 26px solid #383a3f;
}
.collections-tab li:first-child.active a{
    color:  #383a3f;
}
.collections-tab li:nth-child(2){
    border-left: 26px solid #d1413c;
}
.collections-tab li:nth-child(2).active a{
    color:  #d1413c;
}
.collections-tab li:nth-child(3){
    border-left: 26px solid #00bc5e;
}
.collections-tab li:nth-child(3).active a{
    color:  #00bc5e;
}
.collections-tab li:nth-child(4){
    border-left: 26px solid #e09761;
}
.collections-tab li:nth-child(4).active a{
    color:  #e09761;
}
.collections-tab li:nth-child(5){
    border-left: 26px solid #a2adbc;
}
.collections-tab li:nth-child(5).active a{
    color:  #a2adbc;
}
.collections-tab li:nth-child(6){
    border-left: 26px solid #36a7c0;
}
.collections-tab li:nth-child(6).active a{
    color:  #36a7c0;
}
.collections-tab li:nth-child(7){
    border-left: 26px solid #ffbf4d;
}
.collections-tab li:nth-child(7).active a{
    color:  #ffbf4d;
}
.collections-tab li{
    -webkit-transition: border 200ms ease-out;
    -moz-transition: border 200ms ease-out;
    -o-transition: border 200ms ease-out;
    transition: border 200ms ease-out;
}
.collections-tab li:hover, .collections-tab li.active{
    border-width: 36px
}
.collections-tab>li.active>a, .collections-tab>li.active>a:focus, .collections-tab>li.active>a:hover{
    border:none;
    cursor: pointer;
}
.collections-tab li:hover a, .collections-tab li.active a{
    background: none;
    border: none;
}
    #sidebar{
        left: -107%!important;
    }
    #sidebar.visible{
        left: 0!important;
    }
.btn-see-more.btn-white{
    padding: 14px 52px;
    font-size: 16px;
    font-family: "OpenSans",sans-serif;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.btn-see-more:hover{
    text-decoration: none;
}

.btn-see-more.btn-white.color-red:hover{
    background: #f3f3f3!important;
    color:rgb(209, 65, 60)!important;
}
.btn-see-more.btn-white.color-blue:hover{
    background: #f3f3f3!important;
    color:rgb(0, 148, 217)!important;
}
.btn-see-more.btn-white span{
    position: absolute;
    right: 34px;
    top: 18px;
    font-size: 11px;
}
.collection-tags li {
    font-size: 16px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(209, 65, 60);
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}
.collection-tags li:not(:last-child):after{
    content:"|";
    margin-left: 6px;
}

.collection-info {
    font-size: 14px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
    line-height: 1.629;
    margin-bottom: 34px;
}
.about-us-section{
    padding: 43px 0;
}
.about-us-title, .about-us-title a{
    font-size: 18px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(93, 93, 93);
}
.about-us-title a:hover{
    color: rgb(0, 148, 217);
}
.about-us-content{
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(158, 158, 158);
    line-height: 1.567;
}
.mattress-section .mattress-title {
    font-size: 20px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(0, 148, 217);
    text-transform: uppercase;
    line-height: 1.35;
}
.mattres-section-article{
    margin-top: 33px;
}
.mattress-section span{
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(158, 158, 158);
    line-height: 1.567;
}
@media screen and (min-width: 767px) and (max-width: 991px){
   .explore{
        font-size: 18px;
        margin-top: 38px;
        margin-bottom: 38px;
    }

    .btn-see-more.btn-white{
        padding:  22px 65px;
        font-size: 16px;
}
    .collection-tags {
        margin-bottom: 16px;
    }
    .box-flex {
        padding: 60px!important;
    }
    .p-r-0-sm{padding-right: 0!important;  }
    .p-l-0-sm{padding-left: 0!important;  }
    .p-t-0-sm{padding-top: 0!important;  }
    .p-b-0-sm{padding-bottom: 0!important;   }
    .p-r-15-sm{padding-left: 15px!important;   }
}

.top-row{
    background-image: url("../images/girl.png");
    height: 393px;
    background-size: cover;
    background-position: center;
}
.bottom-row > div:first-child{
    background-image: url("../images/smiling-girl.png");
    background-size: cover;
    background-position: center;
    height: 100%;
}
.bottom-row > div:last-child{
    background-image: url("../images/touching.png");
    background-size: cover;
    background-position: center;
    height: 100%;
}
.bottom-row{
    height: 393px;
}
.top-row > div, .bottom-row .read-more-box{
    background: rgba(0, 148, 217, .8);
    height: 100%;
}
.top-row > div > p{
    color: #fff;
    line-height: 1.1;
}
.top-row > div > p:first-child, .box-flex.box-flex-last-item p:first-child{
    font-family: "OpenSansBold",sans-serif;
    font-size: 24px;
}
.top-row > div > p > span{
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
}
.top-row > div > p.price{
    font-size: 24px;
    font-family: "OpenSansBold",sans-serif;
}
.top-row > div > p.price span:first-child{
    font-size: 16px;
    margin-right: 7px;
}

.price-amd{
    color: white!important;
}
.btn-shop-now{
    padding: 13px 25px;
    font-size: 16px;
    font-family: "OpenSans",sans-serif;
}
.btn-shop-now.btn-white{
    color: rgb(134, 124, 118)!important;
}
.btn-shop-now.btn-white:hover{
    background: #f3f3f3!important;
    color:rgb(0, 148, 217)!important;
}
.read-more-box{
   font-size: 20px;
   font-family: "OpenSans",sans-serif;
    color: rgb(255, 255, 255);
   line-height: 1.4;
  text-align: center;
}
.read-more-box a{
    font-size: 18px;
    font-family: "OpenSansBold",sans-serif;
    position: relative;
    color: rgb(255, 255, 255);
}
.read-more-box a:after, .read-more-box a:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fff;
    top: 13px;
}
.read-more-box a:after{
    right: -52px;
}
.read-more-box a:before{
    left: -52px;
}
.read-more-box a:hover{
    color: rgba(255, 255, 255,.8);
    text-decoration: none;
}
.box-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 67px;
}
.box-flex.box-flex-last-item {
    color: rgb(93, 93, 93);
}
.box-flex.box-flex-last-item p span{
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
}


.products{
    margin-bottom: 41px;
}
.products > div{
    margin-bottom: 6px;
}
.product-item{
    background: #fff;
    position: relative;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
}
 .product-item img{
    width: 266px;
    height: 185px;
     margin-left: auto;
     margin-right: auto;
}
. .review-row{
    height: 42px;
}

.product-item .product-sort button{
    pointer-events: none;
}

.square-label{
    position: absolute;
    left: 0;
    top:0;
    height: 42px;
    width: 42px;
    color: #fff;
    text-transform: lowercase;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "OpenSansBold",sans-serif;
    z-index: 888;
}
.product-name, .product-name a{
    font-size: 12.345px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(56, 58, 63);
    text-align: left;
}
 .product-name a:hover{
     color: rgb(0, 148, 217);
}
.img-caption{
    padding: 0 24px 16px 24px;
    min-height: 103px;
    position: relative;
}
.product-price {
    font-size: 9.259px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
    margin-top: 8px;
}

.product-price span{
    font-size: 16.683px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(0, 148, 217);
}
.product-price span[class^="icon-"]{
    font-size: 14px;
    margin: 0 9px 0 3px;
}
.product-item .new-price.product-price span{
    color:rgb(209, 65, 60)!important;
}
.product-item .old-price{
    font-size: 9.259px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
    text-decoration: line-through;
    position: absolute;
    top: 17px;
}
.progress-row{
    position: absolute;
    bottom: 23px;
    width: 100%;
    left: 0;
    padding: 0 24px;
}
.progress-row > div{
    font-size: 9.259px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(0, 148, 217);
    text-transform: capitalize;
    position: relative;
    text-align: center;
}
.product-item .progress-bar{
    background-color: rgb(0, 148, 217);
}
.product-item .progress{
    height: 4px;
    width: 80%;
    margin: 0 auto;
    display: inline-block;
}
.progress-row  div span{
    position: absolute;
}
.progress-row  span:first-child{
    margin-right: 7px;
    left: 0;
}
.progress-row span:last-child{
    margin-left: 7px;
    right: 0;
}
@media screen and (max-width: 768px) {
    header .navbar-right li a span[class^="icon-"]{
        font-size: 18px;
    }
    #sidebar-btn span {
        font-size: 27px;
        display: block;
        overflow: hidden;
    }
    .product-item .progress {
        height: 6px;
        width: 100%;
    }
    .progress-row span{
        top:13px;
    }
    .product-price > span{
        display: block;
    }
    .product-item img{
        /*width: 100px;*/
        /*height: 75px;*/
    }
}
.dark-section{
    font-size: 14px;
    font-family: "OpenSans",sans-serif;
    color: rgb(255, 255, 255);
    line-height: 2;
    padding: 27px;
    text-align: center;
    margin-top: 48px;
}
.products-list-item{
    width: 99%;
    margin: 0 auto 10px auto;
    background: #fff;
    height: 260px;
    display: block;
    padding: 12px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.products-list .products-list-item img {
    width: 189px;
    height: 122px;
}
.products-list .img-caption{
    color: rgb(51, 169, 225);
    text-align: left;
    padding-left: 17px;
    margin-top: -25px;
}

.products-list .img-caption span{
    font-size: 19px;
    font-family: "OpenSansSemiBold",sans-serif;
}
.products-list .img-caption p{
    font-size: 26px;
    font-family: "OpenSansBold",sans-serif;
    line-height: 1.428;
    text-transform: uppercase;
    margin: 6px 0
}
.products-list{
    padding: 20px 0;
}
.products-list .products-list-item:hover{
    box-shadow: 0 0 4px 1px #e4e3e3;
    cursor:pointer;
    text-decoration: none;
}
.article-reviews{
    padding: 45px 0 35px 0;
}
.article-reviews .title-blue{
    color: rgb(0, 148, 217);
    font-size: 20px;
    font-family: "OpenSansSemiBold",sans-serif;
    text-transform: uppercase;
    line-height: 1.35;
    text-align: left;
    margin-bottom: 15px;
}
.article-reviews .title-blue span{
    margin-right: 30px;
    font-size: 23px;
}
.review-box{
    padding: 46px 18px;
    margin-bottom: 10px;
}
.review-box p {
    font-size: 12px;
    font-family: "OpenSansItalic",sans-serif;
    color: rgb(158, 158, 158);
}
.review-box p:not(.reviewer):after{
    content: '"';
}
.review-box p:not(.reviewer):before{
    content: "“";
}
.review-box p.reviewer{
    font-size: 14px;
    font-family: "OpenSans",sans-serif;
    color: rgb(93, 93, 93);
}
.see-all-reviews{
    font-size: 14px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(51, 169, 225);
}
.see-all-reviews  span.icon-button_arrow-01{
    font-size: 9px!important;
}
.see-all-reviews:hover{
    color: grey;
}
.article-box img{
    width: 166px;
    height: 133px;
    float: left;
    margin-right: 20px;
    object-fit: cover;
}
 .article-box{
    padding: 22px 18px;
    margin-bottom: 10px;
}
.article-box > div:not(:last-child){
    margin-bottom: 20px;
}
 .article-title, .article-title a{
    font-size: 18px;
    font-family: "OpenSans",sans-serif;
    color: rgb(93, 93, 93);
}
.article-title a:hover{
    color: rgb(0, 148, 217);
}
 .article-by{
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
}
 .article-content{
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(158, 158, 158);
     /*line-height: 1.8;*/
}
 .full-article{
    font-size: 12px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(93, 93, 93);
}
.full-article:hover{
    color: rgb(0, 148, 217);
}
 .footer-site-logo{
     margin: 43px 0 23px 0;
     font-size: 33px;
     color: rgb(0, 148, 217);
 }
 .footer-top-menu p{
    font-size: 12px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(165, 165, 165);
    font-weight: bold;
    text-transform: uppercase;

}
 .footer-top{
     background-image: url(../images/footer.png);
     background-size: cover;
     background-position: center;
     z-index: 997;
     position: relative;
 }
.footer-xs{
    background-image: url(../images/footer.png);
}
 .footer-bottom{
     background: #323232;
     height: 69px;
     margin-top: -28px;
 }
.footer-bottom .container.fixed-chat-row{
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    width: 1170px;
    right: 50%;
    margin-right: -585px;
}
@media (min-width: 992px) and (max-width: 1200px){
    .footer-bottom .container.fixed-chat-row{
        width:970px;
        margin-right: -485px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .footer-bottom .container.fixed-chat-row{
        width: 100%;
        margin-right: 0;
        right: 0;
    }
    .welcome-content > .welcome-title {
        font-size: 45px!important;
    }
    .welcome-content > p {
        font-size: 18px!important;
    }
}
.btn-talk-to-expert-xs{
    position: absolute;
    bottom: 13px;
    right: 42px;
    border-radius: 50%;
    font-size: 24px;
    background: #0094d9;
    border: none;
    cursor: pointer;
}
.btn-talk-to-expert-xs:focus, .btn-talk-to-expert-xs:hover,  .btn-talk-to-expert-xs:active, .btn-talk-to-expert-xs.btn-primary:active:hover{
    background: #0094d9;
}
.footer-bottom .talk-to-expert{
    width: 291px;
}
.footer-bottom .talk-to-expert .msg-container.panel-body{
    height: 239px;
    overflow-y: auto;
    overflow-x:hidden;
}
 .talk-to-expert .panel-footer {
    padding: 10px 15px;
    background-color: #f2f2f2;
     border:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius: 0;
    border-radius: 0;
}
 .messages > p {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    color: black;
    font-size: 12px;
    padding: 14px;
    line-height: 1.1;
}
.msg-receive > p {
    background: #d6d7d8;
    margin-bottom: 0;
}
.msg-receive > p::after {
    content: '';
    position: absolute;
    right: -19px;
    bottom: 31%;
    border: 12px solid transparent;
    border-left: 10px solid #d6d7d8;
}
 .msg-sent > p {
    background: #fff;
}
.msg-sent > p::after {
    content: '';
    position: absolute;
    left: -19px;
    bottom: 31%;
    border: 12px solid transparent;
    border-right: 10px solid #fff;
}
.footer-bottom .talk-to-expert .btn-talk-to-expert{
    border:none;
    background: #33a9e1;
    width: 100%;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.file-input::before {
    font-family: "icomoon";
    content: '\e906';
    display: inline-block;
    background: transparent;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    color: #dddddd;
}
.file-input:hover::before, .btn-chat:hover {
    color: #33a9e1;
}
.btn-chat{
    background: transparent;
    border: none;
    color: #33a9e1;
}
.talk-to-expert .input-group{
    background: #fff;
    padding-right: 18px;
}
.talk-to-expert .input-group input[type="text"]{
    border: none;
    box-shadow: none;
}
 .talk-to-expert .chat-popup{
    width: 100%;
}
.talk-to-expert .avatar img{
    width: 45px;
    height: 45px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
    background-color: #ebebeb;
}
 .talk-to-expert .avatar{
    position: relative;
}
.talk-to-expert .badge-default:empty{
    display: block;
    background-color:#1be700;
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 0;
    left: 47px;
}
.talk-to-expert .btn-talk-to-expert span {
    font-size: 19px;
}

.talk-to-expert .panel {
     margin-bottom: 0;
     background-color: #f2f2f2;
     border: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    box-shadow: 0 0 1px #909090;
}

@media(min-width: 768px){
    .talk-to-expert .panel-chat{
        display: none;
    }
}
.chat-modal.modal-fullscreen .modal-content .input-group{
    width: 100%;
}
.chat-modal.modal-fullscreen .modal-content{
    background-color: #f2f2f2;
}
.chat-modal.modal-fullscreen .modal-content .panel-body {
    height: calc(100vh - 137px);
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-modal.modal-fullscreen .talk-to-expert .panel{
    box-shadow: none;
}
.footer-top-menu ul li a, footer .copyright, footer .terms-and-cond a, footer .our-company a {
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgba(150, 151, 153, 0.902);
    line-height: 2.033;
    text-align: left;
    text-transform: capitalize;
}

footer .terms-and-cond li{
    display: inline-block;
}
footer .terms-and-cond > li:not(:last-child):after{
    content: "|";
    margin: 0 1px 0 5px;
    color: rgba(150, 151, 153, 0.902);
}
.footer-top-menu .btn-black{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background: #2d2f33;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 1px #101010;
    box-shadow: 0px 2px 1px #101010;
}
.footer-top-menu .btn-black:hover, .footer-top-menu .btn-black.active {
    color: rgba(255, 255, 255, 0.2);
    background: #2d2f33;
    -webkit-box-shadow: 0px 2px 1px #252525;
    box-shadow: 0px 2px 1px #252525;
}
.footer-top-menu{
    padding-bottom: 69px;
}

.copyright{
    display: block;
}
footer .social-links li{
    display: inline-block;
    margin-right: 6%;
    font-family: "OpenSans",sans-serif;
    text-align: left;
}
footer .social-links li a span{
    font-size: 22px!important;
}
footer .social-links li:last-child{
    margin-right: 0!important;
}
footer .social-links li a{
    color: rgba(150, 151, 153, 0.902);
}
footer .footer-top-menu a:hover, footer .social-links a:hover{
    color:rgb(0, 148, 217);
}
footer  .payment-methods li {
    display: inline-block;
    margin-right: 12px;
}
[data-toggle="collapse"] {
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

[data-toggle="collapse"][aria-expanded="true"] .icon-mobile_footer_arrow_down-01:before {
    font-family: "icomoon";
     content: "\e91f";
 }
[data-toggle="collapse"][aria-expanded="true"], [data-toggle="collapse"]:hover, .footer-xs .list-group-item ul li a:hover, .footer-xs button:hover, .footer-xs a:hover{
    color: rgb(0, 148, 217);
}
.footer-xs{
    padding: 25px 0 0 0;
}

.footer-xs .list-group-item{
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    -o-border-radius:0!important;
    border-radius:0!important;
    background: #2d2f33;
    border-top: 2px solid #35373c;
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(93, 93, 93);
    text-transform: uppercase;
    padding: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.footer-xs .list-group-item p, .footer-xs .list-group-item ul li a{
    padding: 15px;
    display: block;
}
.footer-xs .list-group-item:last-child{
    border-bottom: 2px solid #35373c;
}
.footer-xs .list-group-item ul li a{
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    -o-border-radius:0!important;
    border-radius:0!important;
    background: #27282b!important;
    border-top: 2px solid #35373c;
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    text-transform: uppercase;
    color: rgb(158, 158, 158);
}
.footer-xs .list-group-item span{
    font-size: 24px;
}
.footer-xs span.copyright{
    display: block;
    text-align: center;
}
.footer-xs .btn-black{
    background: transparent;
    border: none;
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(255, 255, 255);
}
.footer-xs .copyright-row{
    border-top: 2px solid #45474c;
    padding: 15px 0;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
.review-box{
    text-align: right;
}
    .see-all-reviews{
        float: right;
    }
    .col-sm-6.col-md-12.bg-white.review-box{
        width: 49%;
    }
}
@media screen and (min-width: 768px) and (max-width: 840px){
    header .navbar-default input.form-control {
        padding-left: 35px;
    }
    header .navbar-default .form-group .btn-search {
        left: 0;
    }
    header .navbar-right li a span[class^="icon-"] {
        margin-right: 0;
    }
}
@media screen and (min-width: 992px) and (max-width: 1148px) {
    .navbar-right .dropdown-menu.basket-dropdown-menu{
        right: -50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-right .dropdown-menu.basket-dropdown-menu{
        right: -54px;
    }
}

@media screen and (max-width: 767px){
    #sidebar > .row{
        margin: 0!important;
    }
    header .navbar-default .form-group .btn-search {
        left: 38px;
        font-size: 24px;
        top:-2px;
    }
    header .navbar-default input.form-control {
        padding-left: 88px;
    }
    .text-center-xs{
        text-align: center!important;
    }
    .p-r-30-xs{
        padding-right: 30px;
    }
    .m-b-20-xs{
      margin-bottom: 20px;
    }
    .collection-tags {
        margin-bottom: 10px;
    }

    .btn-see-more.btn-white{
        padding:  15px 23px;
        font-size: 10px;
    }
    .btn-see-more.btn-white i {
        right: 12px;
    }
    .collection-tags li{
        font-size: 10px;
    }
    .collection-info  {
        font-size: 8px!important;
    }

    .explore{
        font-size: 14px;
        color: rgb(0, 148, 217);
        margin-top: 31px;
        margin-bottom: 31px;
    }
    .top-row, .bottom-row{
        height: 175px;
    }
    .top-row > div > p:first-child, .box-flex.box-flex-last-item p:first-child,.box-flex.box-flex-last-item p span, .top-row > div > p > span, .top-row > div > p.price, .btn-shop-now{
        font-size: 10px!important;
    }
    .box-flex{
        padding: 4px!important;
        text-align: center;
    }
    .btn-shop-now{
        padding: 10px 16px!important;
    }
    .top-row > div > p{
        display: -webkit-box;
        -webkit-line-clamp:3!important;
        -webkit-box-orient: vertical!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
    }
    .top-row > div > p {
        line-height: .8!important;
    }
    .read-more-box, .read-more-box a{
        font-size: 10px;
        line-height: 1.2;
    }
    .read-more-box a:before,  .read-more-box a:after{
        width: 12px;
        height: 1px;
        top: 8px;
    }
    .read-more-box a:before{
        left: -17px;
    }
    .read-more-box a:after {
        right: -17px;
    }
    .box-flex.box-flex-last-item p {
        color: #000;
    }
    .btn-see-more.btn-white span {
        position: absolute;
        right: 9px;
        top: 16px;
    }
    .btn-white.btn-see-more.color-blue{
        text-transform: lowercase;
    }
    .tabs-under-header .nav-justified p{
        font-size: 8px;
        text-align: center;
    }
    .product-price {
        font-size: 7.676px;
    }
    .dark-section{
        font-size: 12px;
        margin-top: 25px;
    }
    .products {
        margin-bottom: 25px !important;
    }
    .article-box img {
        width: 100%;
        height: 193px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .p-r-0-xs{padding-right: 0!important;  }
    .p-l-0-xs{padding-left: 0!important;  }
    .p-t-0-xs{padding-top: 0!important;  }
    .p-b-0-xs{padding-bottom: 0!important;   }
    .p-15-xs{padding: 15px!important;   }
    .p-r-15-xs{padding-right: 15px!important;   }
    .p-l-15-xs{padding-left: 15px!important;   }
    .p-t-15-xs{padding-top: 15px!important;   }
    .p-b-15-xs{padding-bottom: 15px!important;   }
    .p-r-10-xs{padding-right: 10px!important;   }
    .p-l-10-xs{padding-left: 10px!important;   }
    .p-t-10-xs{padding-top: 10px!important;   }
    .p-b-10-xs{padding-bottom: 10px!important;   }
    .m-r-0-xs{margin-right: 0!important;
    }
    .m-l-0-xs{margin-left: 0!important; }
}


.modal-blue .modal-header, .modal-blue .modal-body{
    padding: 0;
}
.modal-blue .modal-content{
    -webkit-border-radius:30px!important;
    -moz-border-radius:30px!important;
    -o-border-radius:30px!important;
    border-radius:30px!important;
}
.modal-blue .form-control{
    border: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    padding: 13px 22px;
}
.modal-blue input.form-control{
    height: 45px;
}
.modal-blue textarea.form-control{
    height: 175px;
}

.fixed-bt-white-waves{
    bottom: -4px;
    left: 0;
    height: 55px;
    background: url(../images/header-background.png);
    background-size: cover;
}
#list_view .img-caption {
    padding: 0 24px 16px 85px;
    margin-top: 29px;
}
@media  screen and (min-width: 992px){
    #list_view  .product-item{
        height: 293px;
    }
    #list_view  div.product-sort {
        width: 76% !important;
        margin: 0 11px
    }
    #list_view  div.product-sort button {
        width: 32%!important;
    }

}

@media  screen and (max-width: 991px){
    #list_view  .product-item img {
        width: 216px;
        height: 163px;
    }
    #list_view  .product-item{
        height: 271px;
    }
}
#grid_view .product-item {
    height: 362px;
    margin-bottom: 10px;
}
@media  screen and (max-width: 1200px){
    #grid_view .product-item img {
        width: 186px;
        height: 151px;
    }
}
.read-more{
    font-size: 13px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(0, 148, 217);
}
@media  screen and (max-width: 380px){
    #sidebar ul.sidebar-product-list li a{
        width: 130px;
        height: 130px;
    }
    #sidebar ul.sidebar-product-list li a img{
        width: 110px;
        height: 78px;
    }
}
