.list-group-white .list-group-item a, .list-group-white .list-group-item p, .list-group-white.order-detalis > li.list-group-item{
    display: block;
    padding: 15px 30px;
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
    text-transform: uppercase;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: none;
    border-right:  none;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    background: white;
}
 .list-group-white.order-detalis > li.list-group-item{
     text-transform: none;
     font-family: "OpenSansLight",sans-serif;
 }

.order-detalis > li.list-group-item:first-child{
    background: #cecece!important;
}
.order-detalis > li.list-group-item span.icon-AMD-01{
    font-size: 10px;
}
.order-detalis > li.list-group-item:last-child{
    background: #0094d9!important;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.order-detalis > li.list-group-item:first-child{
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
}
.list-group-white .list-group-item a:hover, .list-group-white .list-group-item p:hover, .list-group-white .list-group-item a.separate-link{
    border-color:#acdef7;
    border-left: 1px solid #acdef7;
    border-right: 1px solid #acdef7;
    color:#0897da;
}
.list-group-white .list-group-item .sub-menu{
    background: #f2f2f2;
}

.list-group-white .list-group-item .sub-menu > li{
    margin-bottom: 2px;
    border-right: none!important;
}
.list-group-white .list-group-item .sub-menu > li > a{
    background: #0094d9;
    color: white;

}

.list-group-white .list-group-item.active a, .list-group-item.active p{
    /*border-color:#acdef7;*/
    /*border-left: 1px solid #acdef7;*/
    /*border-right: 1px solid #acdef7;*/
    color:#0897da;
    background: white;
}
.list-group-white .list-group-item.active{
    border-right: 4px solid #0897da;
}

.list-group-white:not(.order-detalis) .list-group-item{
    padding: 0;
}

.list-group-white .list-group-item{
    border: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    margin-bottom: 2px;
}
.menu-content{
    background: #fff;
}

.menu-content .top-section{
    padding: 0 40px 0 40px;
    width: 100%;
    display: inline-block;
}
.menu-content.contact-us .top-section {
    padding: 0 40px 80px 40px;
}

.menu-content.contact-us .top-section {
    padding: 0 40px 10px 40px;
}
.list-group.list-group-white.order-detalis > li.list-group-item{
    padding: 15px 17px!important;
}

.menu-content .box-title{
    border-bottom: 1px solid #eaeaea;
    /*margin-bottom: 2px;*/
    width: 100%;
    display: inline-block;
}
.menu-content .box-title span{
    margin-top: 15px;
}
.menu-content.login-page{
    padding-bottom: 45px;
}
.menu-content.orders .top-section{
    background: #fff;
}
.menu-content.orders{
    background: transparent;
}
.articles .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
.articles .pagination li, .articles .pagination li{
    margin-top: -4px;
}
.articles .pagination li.next, .articles .pagination li.prev{
    margin-top: 0!important;
}
.articles .pagination>li>a{
    border:none;
    background: transparent;
    font-size: 12px;
    font-family: "OpenSansRegular",sans-serif;
    color: rgb(167, 161, 162);
    padding: 0 6px;
}
.articles .pagination>.active>a, .articles .pagination>li>a:hover{
    background: transparent;
    border: none;
    color: rgb(35, 31, 32);
}
.articles .pagination .next a,.articles .pagination .prev a{
    font-size: 24px;
    color: rgb(167, 161, 162);
}

.articles .pagination .next a:hover,.articles .pagination .prev a:hover{
    font-size: 24px;
    color: #0897da;
}
.single-article .box-title{
    border-bottom: 0;
}
.single-article .article-content-box{
    padding: 0 40px;
}
.single-article .article-content-box h1 {
    font-size: 12px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(56, 58, 63);
    margin-bottom: 10px;
    margin-top: 18px;
}
.single-article .article-content-box time {
    font-size: 12px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(56, 58, 63);
    margin-bottom: 15px;
}
.single-article .article-content-box p {
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
    margin-bottom: 25px;
}
.single-article .article-by{
    /*padding: 0 26px;*/
}
.single-article .article-by, .single-article .comments-box p,  .single-article .more-articles   {
    font-size: 12px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(56, 58, 63);
    margin-bottom: 35px;
}
.single-article .comments-box p, .single-article .write-review-box p{
    font-family: "OpenSansSemiBold",sans-serif;
    font-size: 12px;
}
.single-article .comments-box{
    border-top: 1px solid #efebeb;
    padding: 20px 40px;
    margin-bottom: 64px;
}
.single-article .comments-box .comment {
    font-size: 12px;
    font-family: "OpenSansItalic",sans-serif;
    color: rgb(158, 158, 158);
    margin-bottom: 12px;
}
.single-article .comments-box .comment:before{
    content: "“";
}
.single-article .comments-box .comment:after{
    content: '"';
}
.single-article .comment-by{
    font-size: 12px;
    font-family: "OpenSansRegular",sans-serif;
    color: rgb(93, 93, 93);
    text-transform: capitalize;
}
.single-article .write-review-box{
    padding: 20px 40px;
    background: #e8e8e8;
}
.single-article .write-review-box textarea {
    padding: 12px 23px;
    background: transparent;
    font-family: "OpenSansItalic",sans-serif;
}
.single-article .write-review-box .btn-send{
    border: none;
    background: transparent;
    font-size: 12px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(56, 58, 63);
    text-transform: capitalize;
}
.single-article .write-review-box .btn-send span{
    font-size: 8px;
}
.single-article .more{
    padding: 30px 40px;
}
.single-article .article-img{
    height: 300px;
}

.title-bold-small {
    font-size: 12px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(0, 0, 0);
}
.text-small{
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(0, 0, 0);
    line-height: 2.2;
}
a.text-small{
    font-family: "OpenSansRegular",sans-serif;
}
a.text-small:hover{
    color:#0897da;
}
.shipping-delivery{
    padding-bottom: 45px;
}
.store-item{
    background: #fff;
    padding: 55px 30px;
    height: 257px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    flex-direction: column;
}
.stores .store-address {
    font-size: 14px;
    font-family: "OpenSansRegular",sans-serif;
    color: rgb(0, 148, 217);
    line-height: 2;
    margin-bottom: 14px;
}
.stores .content-text {
    text-align: justify;
}
.stores .store-phone {
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 1.309;
}
.stores.menu-content .box-title{
    border-bottom: none!important;
}
@media screen and (max-width:767px){
    .single-article .more{
        padding: 30px 0!important;
    }
    .single-article .comments-box{
        margin-bottom: 0;
    }
    .menu-content.login-page{
        background: #f2f2f2;

    }
    .menu-content .top-section .box-title{
        padding: 10px;
    }
    .menu-content .top-section{
          padding: 0;
      }
    .menu-content .box-title{
        border-bottom: none;
    }
    .menu-content form{
        padding: 0;
    }
    .offers.menu-content .top-section{
        padding: 0 30px!important;
    }
    .offers.menu-content .offers-row {
        padding-top: 0;
    }
    .menu-content .form-control{
        background: transparent;
    }
    .menu-content.contact-us .btn-black{
        color: #fff!important;
        background: #0897da!important;
    }
    .menu-content.contact-us .btn-black:hover{
        color: #0897da!important;
        background: #fff!important;
    }
}
.menu-content .content-text{
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(0, 0, 0);
    margin: 24px 0;
    line-height: 18px;
}
.menu-content .menu-content-title{
    font-size: 18px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
    margin: 14px 0;
    text-transform: uppercase;

}

.menu-content .menu-content-title span:not(:last-child):after{
    content: "|";
    margin: 0 4px;
}
.menu-content .form-group{
    margin-bottom: 5px;
}
.menu-content .form-control{
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    -o-border-radius:1px;
    border-radius:1px;
    box-shadow: none;
    height: 41px;
    font-family: "OpenSansItalic",sans-serif;
    padding-left: 28px;
}
.menu-content .forgot-pass a{
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
    text-decoration: underline;

}
.menu-content .forgot-pass{
    margin: 17px 20px;
}

.menu-content .btn-blue {
    padding: 12px 23px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    min-width: 119px;
}
.create-account .content-text{
    margin: 19px 0!important;
}
.create-account .question, .menu-content .contact-info-title{
    font-size: 12px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(56, 58, 63);
}
.menu-content .contact-info-row{
    border-top: 1px solid #efebeb;
    padding: 25px 40px;
}
.menu-content .contact-info-desc {
    font-size: 12px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(56, 58, 63);
}
.menu-content .content-text{
    margin: 15px 0;
}
.menu-content .phone{
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
}
.menu-content .btn-black{
    font-family: "OpenSans",sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.227;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 3px 4px #989797;
    box-shadow: 0px 3px 4px #989797;
    display: inline-block;
    border: none;
    color: #fff!important;
    background: #000!important;
    padding: 12px 23px;
    min-width: 119px;
}
.menu-content .btn-black:hover{
    color: #000!important;
    background: #fff!important;
}
.menu-content textarea.form-control{
    height: 132px;
    resize: none;
}

.faq .contact-info-row:first-child{
    border-top: none!important;
}
.menu-content .question-link{
    font-size: 12px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(0, 148, 217);
    display: block;
}
.faq.menu-content .content-text{
    margin-top: 10px;
    margin-bottom: 0;
}
.orders table.table-bordered {
    margin-top: -5px;
    background: white;
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
}
.orders table.table-bordered th{
    border-bottom: 0;
    background: #cecece;
}

.orders table.table-bordered th, .orders table.table-bordered td{
    padding: 16px 30px;
    border: 2px solid #f1f1f1;
}
.orders table.table-bordered>thead:first-child>tr:first-child>th{
     border-left: 0;
 }
.orders table.table-bordered>thead:first-child>tr:last-child>th{
    border-right: 1px solid #f1f1f1;
}
.orders  .top-section{
    border-right: 2px solid #f1f1f1;
}
.offers-row{
    padding: 10px 0;
}
@media screen and (min-width: 992px) {
    .offers-row > div:first-child, .stores-row > div:first-child,  .products-grid-view > div:first-child {
        padding-right: 5px;
    }
    .offers-row > div:nth-child(2), .stores-row > div:nth-child(2), .products-grid-view > div:nth-child(2){
        padding: 0 5px;
    }
    .offers-row > div:nth-child(3), .stores-row > div:nth-child(3), .products-grid-view> div:nth-child(3){
        padding-left:5px;
    }
    .offers-row > div:nth-child(3n+4),  .stores-row > div:nth-child(3n+4),.products-grid-view > div:nth-child(3n+4){
        padding-right:5px;
    }
    .offers-row > div:nth-child(3n+5), .stores-row > div:nth-child(3n+5), .products-grid-view > div:nth-child(3n+5){
        padding: 0 5px;
    }
    .offers-row > div:nth-child(3n+6),  .stores-row > div:nth-child(3n+6), .products-grid-view > div:nth-child(3n+6){
        padding-left:5px;
    }
}
@media screen and (min-width: 768px) and  (max-width: 992px){
    .offers-row > div:nth-child(even),.stores-row > div:nth-child(even), .products-grid-view > div:nth-child(even){
        padding-left:5px;
        /*padding-right:0;*/
    }
    .offers-row > div:nth-child(odd),  .stores-row > div:nth-child(odd), .products-grid-view > div:nth-child(odd){
        padding-right:5px;
    }
}
.offers-item{
    background: #fff;
    text-align: center;
    border: 2px solid #f1f1f1;
    padding: 9px 15px;
    display: inline-block;
    width: 100%;
}
.offers-item .general-text {
     font-size: 56px;
     font-family: "BebasNeueBold", sans-serif;
     color: rgb(0, 148, 217);
     text-transform: uppercase;
    margin-bottom: 0;
 }
.offers-item .offers-info-blue {
    font-size: 14px;
    font-family: "OpenSans",sans-serif;
    color: rgb(0, 148, 217);
    font-weight: bold;
    margin-top: -12px;
}
.offers-item .offers-info-black{
    font-size: 12px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: -7px;
}
.offers-item .offers-desc {
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(0, 0, 0);
    width: 100%;
    display: inline-block;
}
.offers-item .learn-more{
    text-align: center;
}
.offers-item .learn-more a{
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(93, 93, 93);
    font-weight: bold;
}

.offers-item .learn-more a:hover{
    color: rgb(0, 148, 217);
}

.articles-row{
    padding-top: 30px;
}
.articles-row .article-list-item{
    margin-bottom: 44px;
    width: 100%;
    display: inline-block;
}
.articles-row .article-list-item img{
    width:148px;
    height: 120px;
    float: left;
    margin-right: 15px;
}
.articles-row .article-list-item .article-title{
    margin-bottom: 3px;
}
.articles-row .article-list-item .article-title a{
    font-size: 14px;
    font-family: "OpenSansRegular",sans-serif;
    color: rgb(93, 93, 93);
}
.articles-row .article-list-item .article-title{
    font-size: 14px;
}
.articles-row .article-list-item .article-by {
    font-size: 10.757px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
    margin-bottom: 3px;
}

 .article-content  {
    font-size: 12px;
    font-family: "OpenSansRegular",sans-serif;
    color: rgb(158, 158, 158);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


@media screen and (max-width: 767px) {
    .articles-row .article-list-item img{
        width:100%;
        height: 193px;
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .articles-row .article-list-item {
        margin-bottom: 20px!important;
    }
    .articles-row{
        padding-top: 0;
    }
}
@media screen and (max-width: 991px){
    .single-article .article-img{
        height: 200px;
    }
}
.checkout label{
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 1.143;
}
.checkout .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #d2d3d3;
    background: transparent;
    box-shadow: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
}
.checkout .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "OpenSansLight",sans-serif;
    font-style: italic;
    color: rgb(56, 58, 63);
}
.checkout .form-control::-moz-placeholder { /* Firefox 19+ */
    font-family: "OpenSansLight",sans-serif;
    font-style: italic;
    color: rgb(56, 58, 63);
}
.checkout .form-control:-ms-input-placeholder { /* IE 10+ */
    font-family: "OpenSansLight",sans-serif;
    font-style: italic;
    color: rgb(56, 58, 63);
}
.checkout .form-control:-moz-placeholder { /* Firefox 18- */
    font-family: "OpenSansLight",sans-serif;
    font-style: italic;
    color: rgb(56, 58, 63);
}
.checkout .form-control{
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
}

.checkout .btn-white{
    padding: 14px 37px;
}
.checkout .color-blue{
    text-decoration: underline!important;
}

.phonenumber, .phonenumber span{
    font-size: 12px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(0, 148, 217);

}
.phonenumber span{
    font-size: 16px;
    font-weight: bold;
}
.nav-tabs.nav-justified.steps > li > a{
    padding: 16px 19px;
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
    font-weight: 600;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    background: #fff;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
}
.nav-tabs.nav-justified.steps > li a, .nav-tabs.nav-justified.steps > li.active a,.nav-tabs.nav-justified.steps > li:hover a{
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}
.nav-tabs.nav-justified.steps > li:last-child a{
    border-right: none!important;
}
 .nav-tabs.nav-justified.steps > li.active a,.nav-tabs.nav-justified.steps > li:hover a{
      color: rgb(0, 148, 217);
  }
.shipping .tab-content{
    background: #fff;
    width: 100%;
    display: inline-block;
}
.shipping-address p {
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 2.333;
}
.shipping-address p:first-child{
    font-family: "OpenSansSemiBold",sans-serif;
}
.shipping-row{
    border-top: 2px solid #f2f2f2;
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shipping-row > div:not(:last-child){
    border-right: 1px solid #ddd;
}
.text-bold{
    font-size: 12px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(56, 58, 63);
}
.text-normal{
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
}
.shipping-row > div {
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 1.143;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:992px) {
    .shipping-row > div span:first-child:after {
        content: "|";
        margin: 5px;
    }
}
@media screen and (max-width:767px){
    .steps.nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%!important;
    }
}


@media screen and (max-width:991px) {
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev, .slick-next {
        z-index: 9997!important;
    }

    .shipping-row > div span {
        display: block!important;
        margin-bottom: 2px;
    }
    .shipping-row > div{
        flex-direction: column;
    }
}
.shipping-methods{
    border-top: 2px solid #f2f2f2;
    padding-bottom: 37px;
}
.shipping-methods input[type=radio]{
    opacity: 0;
    cursor: pointer;
}
.shipping-methods p{
    display: inline-block;
}
.shipping-methods input[type=radio] + label:before {
    font-family: "icomoon";
    content: "\e92c";
    margin-left: -18px;
    font-size: 12px;
}
.shipping-methods input[type=radio]:checked + label:before {
    font-family: "icomoon";
    content: "\e92d";
    color: rgb(0, 148, 217);
}

.shipping-methods .radio-btn{
    width: 25px;
    text-align: left;
    float: left;
}
.shipping-methods p.text-normal{
    padding-left: 24px;
}
.btn-continue{
    padding: 12px 37px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width:100%;
}
.new-address .form-group input,.new-address .form-group select, .order-now .form-item input  {
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
    padding: 12px 27px;
    box-shadow: none;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;

}
.new-address .form-item, .order-now .form-item{
    position: relative;
}

.new-address .form-item:after, .order-now .form-item:after{
    font-family: "icomoon";
    content: "\e932";
    color: #df4b4e;
    position: absolute;
    top: -1px;
    font-size: 7px;
    left: 0;
    z-index: 999;
}
.error-field{
    border: 1px solid #df4b4e;
    color: #df4b4e!important;
}
.form-group .bootstrap-select.btn-group .btn{
    box-shadow: none;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    padding: 8px 27px;
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
    outline: none;
}
.form-group .bootstrap-select.btn-group .btn:focus, .bootstrap-select.btn-group .dropdown-menu li a:focus{
    outline: none!important;
}
 .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(93, 93, 93);
    font-style: italic;
     font-family: "OpenSansRegular",sans-serif;
}
.form-group .form-control::-moz-placeholder { /* Firefox 19+ */
    color: rgb(93, 93, 93);
    font-style: italic;
    font-family: "OpenSansRegular",sans-serif;
}
.form-group .form-control:-ms-input-placeholder { /* IE 10+ */
    color: rgb(93, 93, 93);
    font-style: italic;
    font-family: "OpenSansRegular",sans-serif;
}
 .form-group .form-control:-moz-placeholder { /* Firefox 18- */
    color: rgb(93, 93, 93);
    font-style: italic;
     font-family: "OpenSansRegular",sans-serif;

}
.btn-save{
    border: none;
    background: transparent;
}
input[type=checkbox].checkbox-blue{
    opacity: 0;
    cursor: pointer;
}
input[type=checkbox].checkbox-blue + label:before {
    font-family: "icomoon";
    content: "\e93d";
    margin-left: -18px;
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}
input[type=checkbox].checkbox-blue:checked + label:before {
    font-family: "icomoon";
    content: "\e90a";
    color: rgb(0, 148, 217);
}
.form-item .error-text {
    font-size: 12px;
    font-family: "OpenSansRegular",sans-serif;
    color: rgb(210, 0, 5);
    line-height: 1.143;
}
.shipping .cards img{
    height:23px;
    width: 48px;
}
.text-blue-lg{
    font-size: 18px;
    font-family: "OpenSansSemiBold",sans-serif;
    color: rgb(0, 148, 217);
    text-transform: uppercase;
    line-height: 1.5;
}
.bottom-bordered{
    border-bottom: 2px solid #f2f2f2;
}
.bg-grey{
    font-size: 12px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(93, 93, 93);
    line-height: 1.143;
}

.category-tags-item {
    font-size: 11px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 1.371;
}
.category-tags-item  span[class^="icon-"] {
    margin-left: 7px;
    cursor: pointer;
}
.category-filters .list-group-item a{
    border-left:26px solid;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    font-size: 12px;
    font-family: "OpenSansBold",sans-serif;
}
.category-filters .list-group-item a:hover, .category-filters .list-group-item.active a {
    background: #dedfe1;
    border-right: 0;
    border-left:26px solid;
}
.category-filters .list-group-item a span{
    color: rgb(56, 58, 63);
    display: none;
}
.category-filters .list-group-item a:hover span, .category-filters .list-group-item a:focus span, .category-filters .list-group-item.active a span{
    display: block;
    margin-top: 5px;
}
.category-filters .list-group-item.active {
    border-right: 0;
}
.category-filters .list-group-item:nth-child(7n+1) a{
    border-color:#215d89;
    color: #215d89;
}
.category-filters .list-group-item:nth-child(7n+2) a{
    border-color:#d1413c;
    color:#d1413c;
}
.category-filters .list-group-item:nth-child(7n+3) a{
    border-color:#00bc5e;
    color:#00bc5e;
}
.category-filters .list-group-item:nth-child(7n+4) a{
    border-color:#e09761;
    color:#e09761;
}
.category-filters .list-group-item:nth-child(7n+5) a{
    border-color:#a2adbc;
    color:#a2adbc;
}
.category-filters .list-group-item:nth-child(7n+6) a{
    border-color:#36a7c0;
    color:#36a7c0;
}
.category-filters .list-group-item:nth-child(7n+7) a{
    border-color:#ffbf4d;
    color:#ffbf4d;
}



.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    cursor: pointer;
}
#slider {
    width: 100%;
    height: 3px;
    border: none;
    background: #ddd;
}

.ui-slider {
    position: relative;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 10px!important;
    height: 10px!important;
    cursor: pointer;
    background: #000!important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}
.ui-slider .ui-slider-handle:focus{
    outline: none;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}

.ui-slider-horizontal {
    height: 3px;
}

.ui-slider-horizontal .ui-slider-handle {
 top: -5px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;

    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #fff;
}

.ui-widget-header {

    border: 1px solid #D4D4D4;
    background: #000!important;
}

.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.category-filters label{
    font-size: 12px;
    font-family: "OpenSans",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 1.143;
}
.white-box{
    background: #fff;
    padding: 20px 30px;
}
input[type=radio].radio-blue{
    opacity: 0;
    cursor: pointer;
}

input[type=radio].radio-blue + label:before {
    font-family: "icomoon";
    content: "\e92c";
    margin-left: -18px;
    font-size: 12px;
    margin-right:10px;
}
input[type=radio].radio-blue:checked + label:before {
    font-family: "icomoon";
    content: "\e92d";
    color: rgb(0, 148, 217);
}
.select-categories .btn{
    padding-left: 20px;
}

.select-categories .btn,.category-filters .btn-group.bootstrap-select.form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    height: 42px;
    display: block;
    border: none;
    background: white;
}
.category-filters .btn-group.bootstrap-select.form-control{
    margin-bottom: 2px;
}
.select-categories .btn:focus,  .category-filters .btn-group.bootstrap-select.form-control:focus{
    outline: none!important;
    background: #dedfe1!important;
    box-shadow: none;
}
.category-filters .form-group:last-child{
    margin-bottom: 0;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
    right: 20px;
}
.add-banners > div{
    height: 182px;
}
.add-banners > div:first-child{
    padding-right: 4px;
}
.add-banners > div:last-child{
    padding-left: 4px;
}
.add-banners > div img {
    width: 100%;
    height: 182px;
}
@media screen and (max-width: 1200px){
    .add-banners > div img,   .add-banners > div {
        height: 150px;
    }
}

.category-desc-row {
    padding: 43px;
    margin: 8px 0;
}

.category-desc-row h1{
    font-size: 24px;
    font-family: "OpenSansBold",sans-serif;
    margin: 0 0 17px 0;
}
.category-desc-row p {
    font-size: 16px;
    font-family: "OpenSansRegular",sans-serif;
    color: rgb(93, 93, 93);
    text-align: left;
    margin: 0;
}
.products-list-view > div{
    margin-bottom: 8px;
}
.categories-view-tabs li a{
    background: transparent;
    padding: 5px;
    color: #b6b6b6;
    background-color: transparent;
    border: none;
}
.categories-view-tabs li a:hover{
    background-color: transparent;
    border: none;
}

.categories-view-tabs.nav-tabs>li.active > a, .categories-view-tabs.nav-tabs>li>a:focus, .categories-view-tabs.nav-tabs>li>a:hover {
    color: black;
    background-color: transparent;
    border: none;
}
#list_view .product-item, #grid_view .product-item{
    width: 100%;
}
#min, #max {
    width: 50px;
    text-align: center;
}

#breadcrumbs a{
    font-size: 14px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
}
#breadcrumbs > span:not(:last-child):after{
    content: ">";
    margin: 0 3px;
}
.share-print-btns.btn-group button{
    color:#acacad;
    font-size: 18px;
    background: transparent;
    border: none;
}
.share-print-btns.btn-group button:hover{
    color: #cdcfd3;
}
.share-print-btns.btn-group button:focus{
    outline: none;
}
.product-sort-row button{
    height: 4px;
    width: 32%;
    background: #dedfe0;
    border: none;
}
.product-sort-row button.active{
    background: #0094d9;
}
.product-sort-row > div.product-sort{
    width: 78%;
    display: inline-block;
    text-align: center;
    line-height: 1px;
}
.product-sort-row-filter button{
    height: 3px;
    width: 33.33333%;
    background: #ddd;
}
.product-sort-row-filter button.active, .product-sort-row-filter button:hover, .product-sort-row-filter button:focus{
    background: black;
}
.product-sort-row-filter > div.product-sort{
    width: 100%;
}
.product-sort-row  button:not(:first-child){
    margin-left: -4px;
}
.product-sort-row  > span, .write-review {
    font-size: 12px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(0, 148, 217);
}
.product-detalis{
    padding: 30px 30px 0 30px;
}
.product-detalis span.icon-rating_small_empty-01, .product-item span.icon-rating_small_empty-01{
    color:#dedfe0;
    font-size: 15px;
}
.product-detalis span.icon-rating_small_filled-01, .product-item span.icon-rating_small_filled-01{
    color:#ffc064;
    font-size: 15px;
}
.product-detalis h1 {
    font-size: 20px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
}

.write-review{
    border: none;
    background: transparent;
    font-size: 13px;
}
.write-review-modal img{
    width: 356px;
    height: 207px;
}
.write-review-modal p{
    font-size: 20px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
    margin: 14px 0;
}
.write-review-modal span{
    color:#dedfe0;
    font-size: 24px;
}
.write-review-modal .modal-footer{
    background-color: #f2f2f2;
    border: none;
    padding: 26px 100px;
}
.write-review-modal .form-control {
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    background: transparent;
    box-shadow: none!important;
}
.write-review-modal .reviewer-name, .write-review-modal .review-text.form-group{
    border: 1px solid #b5abab;
}
.write-review-modal .review-title.form-control{
    border-bottom: 1px solid #b5abab;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.write-review-modal .review-message.form-control{
    border: none!important;
}
.write-review-modal .send-review{
    padding: 17px 45px;
    text-transform: lowercase;
    font-size: 13px;
}
.product-proportions .form-group .bootstrap-select.btn-group .btn{
    border: 2px solid #f2f2f2;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
.product-proportions .form-group:last-child .bootstrap-select.btn-group .btn{
    border-left: 0;
}
.product-proportions .caret{
    border: none;
}
.product-proportions .caret:after{
    font-family: "icomoon";
    content: "\e91c";
    font-size: 7px;
    position: absolute;
    top: -3px;
    right: -6px;
    color: black;
}
.products-price div{
    font-size: 14px;
    color: rgb(56, 58, 63);
}

 span.color-blue {
    font-size: 24px;
    text-transform: uppercase;
}

.btn-add-to-card{
    font-family: "OpenSansRegular",sans-serif!important;
    font-size: 14px!important;
}
.add-to-card input.basket-amount{
    height: 39px!important;
}
@media screen and (max-width: 768px){
    .add-to-card input.basket-amount{
        width: 39px!important;
    }
    .add-to-card form .input-group-btn {
        /*right: -51px!important;*/
    }
    .write-review-modal img {
        width: 197px;
        height: 143px;
    }
}
@media screen and (min-width: 768px){
    .checkbox-row {
        position: absolute;
        width:-webkit-calc(100% + 30px);
        width:-moz-calc(100% + 30px);
        width: calc(100% + 30px);
    }
    .add-to-card{
        position: relative;
    }
}
@media screen and (min-width: 1200px){
    .add-to-card{
        height: 207px;
    }
    .product-view > div {
        height: 475px;
    }
    .checkbox-row{
        bottom: -84px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .product-view > div {
        height: 444px!important;
    }
    .add-to-card {
        height: 176px;
    }
    .checkbox-row {
        bottom: -47px;
    }
    }
@media screen and (min-width: 768px) and (max-width: 991px){
   .product-detalis .product-sort-row{
        margin-bottom: 10px;
    }
    .product-view > div {
        height: 397px!important;
    }
    .add-to-card {
        height: 176px;
    }
    .checkbox-row {
        bottom: -48px;
    }
    .add-to-card form{
        padding: 4px 0;
    }
}
.add-to-card form{
    position: relative;
    border-bottom: 1px solid #f2f2f2;
}
.add-to-card form fieldset{
    padding-top: 10px;
    min-width: 72px;
    margin-right: 26px;
    float: left;
}
.add-to-card form .input-group-btn{
    position: absolute;
    right: 0;
}

.add-to-card form input.form-control{
    min-width: 44px!important;
    background: #fff;
    border: 2px solid #f2f2f2;
    margin-right: 7px;
    color: #000;
}
.add-to-card form .input-group-btn button{
    padding: 0;
    color: #0e9adb;
    height: 23px;
     background: transparent;
    border: none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    width: 20px;
    font-size: 19px!important;
}
.add-to-card form .input-group-btn button:focus{
    background: transparent;
}

.add-to-card form .input-group-btn button span{
    display: block;
    font-size: 16px!important;
}
.add-to-card form .input-group-btn:first-child button span{
    font-size: 2px!important;
}

.add-to-card form .input-group-btn:last-child button{
    margin-left: 0;
}
.add-to-card form .input-group-btn:first-child button{
    margin-top: 19px;
}
.checkbox-row{
    margin-left: -30px;
    margin-right: -30px;
    padding: 10px 35px;
}
.checkbox-row label{
    color: #fff;
}
#productcarousel .col-sm-3{
    width:95px!important;
}
#productcarousel .col-sm-3 img{
    width:52px;
    height: 52px;
}
.product-slider-box{
    margin-top: -7px!important;
    height: 146px;
    padding: 24px 0 17px 0;
    margin-bottom: 5px;
}
#product-slider .item-name{
    font-size: 10px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(0, 148, 217);
    width: 60px;
    margin:  5px auto 0 auto;
}
#product-slider img{
    width: 60px;
    margin: 0 auto;
    -webkit-transition: width 300ms ease;
}
.product-slider-box .slick-arrow{
    top:55px;
}
#product-slider a:hover  > img{
    width: 100px;
}
#product-slider a:focus{
    outline: none;
}
.slick-prev:before {
    font-family: "icomoon";
    content: '\e903';
    color: grey;
}
.slick-next:before {
    font-family: "icomoon";
    content: '\e904';
    color: grey;
}
.information-tabs .nav-tabs>li>a:hover, .information-tabs .nav-tabs>li.active>a, .information-tabs .nav-tabs>li.active>a:focus, .information-tabs .nav-tabs>li.active>a:hover{
    background: transparent!important;
    border:none!important;
    color: rgb(0, 148, 217);
}
.information-tabs .nav-tabs>li{
    margin: 29px 18px 25px 0;
}
.information-tabs .nav-tabs>li>a {
    font-size: 14px;
    font-family: "OpenSansBold",sans-serif;
    color: rgb(56, 58, 63);
    background: transparent!important;
    border:none!important;
    padding: 0;
}
.information-tabs .nav-tabs>li.active>a{
    color: rgb(0, 148, 217);
}
.information-tabs p {
    font-size: 14px;
    font-family: "OpenSansLight",sans-serif;
    color: rgb(56, 58, 63);
    line-height: 2;
}
.information-tabs p.text-bold{
    font-family: "OpenSansBold",sans-serif;
}
.products-list-slider .product-item img{
    width: 328px;
    height: 200px;
}
.slick-slide a:focus, .slick-slide div:focus, .slick-slide.slick-active{
    outline: none!important;
    border: none;
}
.review-row{
    padding: 24px;
}
.people-also-buy .product-item{
   border-top: 4px solid #f2f2f2;
    border-bottom: 4px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    width: 100% !important;
}
.people-also-buy .slick-initialized.slick-slide .product-item:first-child{
    border-left: 4px solid #f2f2f2;
}
.people-also-buy .slick-initialized.slick-slide .product-item:last-child {
    border-right: 4px solid #f2f2f2;

}
@media screen and (min-width: 767px) and (max-width: 991px){
    .products-list-slider .product-item img{
        width: 292px;
        height: 154px;
    }
}

.product-view > div:first-child{
    border-right: 2px solid #f2f2f2;
}
.product-view > div:last-child{
    border-left: 2px solid #f2f2f2;
}

#gallery-con .img-zoom {
    float: right;
    background: transparent;
    border: none;
    font-size: 35px;
    position: absolute;
    color: #d2d2d2;
    bottom: 130px;
    right: 21px;
    z-index: 997;
}
.basket-item-amount  .icon-all_other_products_minus-01, .basket-item-row .icon-all_other_products_minus-01:before{
    font-size: 2px!important;
    margin-top: 10px;
}

.gm-style-mtc, .gm-svpc, .gm-style-cc{
    display: none;
}
.btn-filters{
    position: relative;
    z-index: 998;
    width: 100%;
    border: none;
    color: #fff;
    text-align: center;
    display: block;
    padding: 14px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "OpenSansSemiBold",sans-serif;
    cursor: pointer;
}
.image-box-section{
    padding-bottom: 40px;
}
