
@import "global.css";
@import "pages.css";
@import "fonts.css";
body,ul {
    margin: 0;
    padding: 0;
}
body{ background: #f2f2f2;font-family:"OpenSans", sans-serif;}
footer{
    clear: both!important;
}
textarea{
    resize: none;
    overflow: auto;
}
button:focus, input:focus{ outline: none!important;box-shadow: 0!important;}
a,a:hover, a:focus, a:active{ text-decoration: none;!important;}
.text-uppercase{
    text-transform: uppercase;
}

.display-inline{
    display:inline-block;
}
a, button{
    -webkit-transition: color 500ms ease-out;
    -moz-transition: color 500ms ease-out;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;
}
.clearfix{clear: both;}
.margin-0-auto{
    margin: 0 auto;
}
.padding-md{
    padding: 30px 50px;
}
@media screen and (min-width: 768px){
    .p-large{
        padding: 42px 0;
    }
}

.pos-relative{
    position: relative;
}
.pos-absalute{
    position: absolute;
}
.m-r-5{
    margin-right: 5px;
}
.p-r-5{
    padding-right: 5px;
}
.p-0{
    padding: 0;
}
.p-50-70{
    padding: 50px 70px;
}
.p-x-70{
    padding-left:70px;
    padding-right:70px;
}
.p-y-15{
    padding-top:15px;
    padding-bottom:15px;
}
.p-r-0{padding-right: 0;  }
.p-l-0{padding-left: 0;  }
.p-t-0{padding-top: 0;  }
.p-b-0{padding-bottom: 0;  }

.p-r-5{padding-right: 5px;  }
.p-l-5{padding-left: 5px;  }
.p-t-5{padding-top: 5px;  }
.p-b-5{padding-bottom: 5px;  }
.p-5{padding: 5px;  }

.p-r-20{padding-right: 20px;  }
.p-l-20{padding-left: 20px;  }
.p-t-20{padding-top: 20px;  }
.p-b-20{padding-bottom: 20px;  }
.p-20{padding: 20px;  }

.p-r-10{padding-right: 10px;  }
.p-l-10{padding-left: 10px;  }
.p-t-10{padding-top: 10px;  }
.p-b-10{padding-bottom: 10px;  }
.p-10{padding: 10px;  }


.p-r-30{padding-right: 30px;  }
.p-l-30{padding-left: 30px;  }
.p-t-30{padding-top: 30px;  }
.p-b-30{padding-bottom: 30px; }
.p-t-40{padding-top: 40px;  }
.p-r-60{padding-right: 60px;  }
.p-l-60{padding-left: 60px;  }
.p-t-60{padding-top: 60px;  }
.p-b-60{padding-bottom: 60px; }

.m-r-0{margin-right: 0;  }
.m-l-0{margin-left: 0;  }
.m-t-0{margin-top: 0;  }
.m-b-0{margin-bottom: 0;  }
.m-0{margin: 0;  }

.m-r-10{margin-right: 10px;  }
.m-l-10{margin-left: 10px;  }
.m-t-10{margin-top: 10px;  }
.m-b-10{margin-bottom: 10px;  }
.m-10{margin: 10px;  }

.m-b-8{margin-bottom: 8px;  }
.m-t-8{margin-top: 8px;  }

.m-r-15{margin-right: 15px;  }
.m-l-15{margin-left: 15px;  }
.m-t-15{margin-top: 15px;  }
.m-b-15{margin-bottom: 15px;  }
.m-15{margin: 15px;  }

.m-r-20{margin-right: 20px;  }
.m-l-20{margin-left: 20px;  }
.m-t-20{margin-top: 20px;  }
.m-b-20{margin-bottom: 20px;  }
.m-20{margin: 20px;  }

.m-l-5{margin-left: 5px;  }
.m-b-5{margin-bottom: 5px;  }
.m-b-70{ margin-bottom: 70px;}
.p-30{ padding: 30px;}
.p-80{ padding: 80px;}
.btn-white, .btn-blue{
    font-family: "OpenSans";
    font-size: 11px;
    font-weight: 700;
    line-height: 1.227;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 3px 4px #989797;
    box-shadow: 0px 3px 4px #989797;
    display: inline-block;
    border: none;
    padding: 14px 40px;
}
.overflow-y-hidden{
    overflow-y: hidden;
}

.btn-white{
    color: rgb(0, 148, 217)!important;
    background: #fff!important;
}
.btn-white:hover{
    background-color: #f3f3f3!important;
}
.btn-blue{
    color: rgb(255, 255, 255)!important;
    background: rgb(0, 148, 217)!important;
}
.btn-blue:hover{
    background-color: #f3f3f3!important;
    color: rgb(0, 148, 217)!important;
}
.btn-modal.btn-white:hover{
    background: #f3f3f3!important;
    color: rgb(0, 148, 217)!important;
}
.bg-white{ background: #fff;  }
.bg-blue{background: rgb(0, 148, 217);}
.bg-red{ background: #d1413c;}
.bg-orange{ background: #ff7c06;}
.bg-green{ background: #a6db31;}
.bg-dark{ background: #383a3f;}
.bg-light-grey{ background: #f2f2f2;}
.bg-grey{ background: #cecece;}
.bg-grey-waves-top{
    background: url(../images/02.png) 0 0 no-repeat;
    background-size: cover;
    margin-top: -14px;
}
.bg-grey-waves{
    position: relative;
    overflow: hidden;
    z-index: 996;
}
.bg-grey-waves:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../images/02.png) 0 0 no-repeat;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


.bgfixed-top-white-waves{
    position: relative;
    overflow: hidden;
    z-index: 996;
    margin-top: -5px;
}
.bgfixed-top-white-waves:before {
    content: "";
    position: absolute;
    width: 100%;
    height:55px;
    top: 0;
    left: 0;
    z-index: 99999;
    background: url(../images/header-background.png);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: cover;
}
.color-white{color: rgb(255, 255, 255)!important;}
.color-red{color: rgb(209, 65, 60)!important;}
.color-dark-grey{color: rgb(93, 93, 93)!important;}
.color-blue{color: rgb(0, 148, 217)!important;}
.color-dark-blue{color: rgb(33, 93, 137)!important;}
.color-green{color: #17c26c!important;}

.f-s-10{
    font-size: 10px!important;
}
.f-s-14{
    font-size: 14px!important;
}
.f-s-16{
    font-size: 16px!important;
}
.f-s-90{
    font-size: 90px!important;
}
.f-s-20{
    font-size: 20px!important;
}
.f-s-30{
    font-size: 30px!important;
}

@media ( max-width: 585px ) {
    /*.input-group span.input-group-btn,.input-group input,.input-group button{*/
        /*display: block;*/
        /*width: 100%;*/
        /*border-radius: 0;*/
        /*margin: 0;*/
    /*}*/
    .input-group {
        position: relative;
    }
    .input-group span.data-up{
        position: absolute;
        top: 0;
    }
    .input-group span.data-dwn{
        position: absolute;
        bottom: 0;
    }
    .form-control.text-center {
        margin: 34px 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
        margin-left:0;
    }

}
#map {
    height: 100%;
}
.underline{
    text-decoration: underline!important;
}
.width-100{
    width: 100%;
    display: inline-block;
}
.modal .modal-content{
    border-radius: 0;
    box-shadow: none!important;
    border: none!important;
}
.modal .modal-dialog{
    margin-left: auto;
    margin-right: auto;
    width: 890px;
}
@media screen and (max-width: 991px){
    .modal .modal-dialog{
        width: calc(100% - 81px);
    }
}
.modal .modal-header{
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 17px;
    text-align: right;
}
.modal-backdrop {
    background: rgba(0,0,0,0.8);
    opacity: 0;
}
.modal-header .close {
    margin-top: 0;
    margin-right: -33px;
    color: #000000;
    opacity: 1;
    text-shadow: none;
}
.modal-header .close span{
    font-size: 21px;
}
.open>.dropdown-toggle.btn-default .dropdown-toggle.btn-default:hover{
    background: white;
}
@media screen and (max-width: 767px){
    .p-80 {
        padding: 20px!important;
    }
    .f-s-90 {
        font-size: 57px!important;
    }
    .collapsed-xs{
        display: none;
    }
    .show-xs{
        display: block!important;
    }
    .p-large{
        padding: 42px 0 0 0;
    }
    .bg-grey-xs{
        background: #f2f2f2!important;
    }
    .m-t-20-xs{
        margin-top: 20px;
    }
    .f-s-30 {
        font-size: 22px!important;
    }
    .modal-fullscreen-xs .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

    }
    .modal-fullscreen-xs .modal-dialog{
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

   .modal-fullscreen-xs .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
        box-shadow: none;
       overflow-y: auto;
       overflow-x: hidden;
    }

    .modal-fullscreen-xs  .modal-header{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 50px;
        padding: 10px;
        border: 0;
    }
    .modal-fullscreen-xs .modal-footer{
            width: 100%;
            position: absolute;
            bottom: 0;
        }
     .modal-fullscreen-xs .modal-header .close {
        margin-top: 0;
        margin-right: 20px;
    }

    .modal-fullscreen-xs .modal-body {
        position: absolute;
        top: 50px;
        bottom: 0;
        width: 100%;
        font-weight: 300;
        padding-right: 35px!important;
    }


}
.text-overfloe-ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover,
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: transparent;
    border:none;
}
.modal-fullscreen .modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
}

.modal-fullscreen .modal-dialog{
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal-fullscreen .modal-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
}

.modal-fullscreen .modal-header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    border: 0;
}

.modal-fullscreen .modal-header .close{
    margin-top: 0;
    margin-right: 20px;
}

.modal-fullscreen .modal-body {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    font-weight: 300;
    overflow: auto;
}
.modal-blue.modal-fullscreen-xs .modal-content{
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    border-radius:0!important;
}
.modal-blue.modal-fullscreen-xs .modal-header .close span{
    color: white!important;
}