#gallery-con {
  width: 103%;
  height: 382px;
  margin: 0 auto 0;
  padding: 0;
  text-align: center;
  border: 1px solid transparent;
  background: #fff;
}

#gallery-con #gallery-main {
  /*width: 100%;*/
  position: absolute;
  background: #fff;
  margin-top: -1px;
  padding: 35px 24px;

}
#gallery-con #gallery-main img {
  width: 508px;
  height: 310px;
}

#gallery-con #gallery-hidden {
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  z-index: -1;
}

/* line 87, scss/index.scss */

#gallery-con #thumbnails {

  /*background: rgba(130, 130, 130, 0.6);*/
  /*z-index: 10;*/
  margin-top: 372px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

/* line 97, scss/index.scss */

#gallery-con #thumbnails:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

/* line 102, scss/index.scss */

#gallery-con #thumbnails #thumbcon {
  width: 434px;
  height: 120px;
  display: inline-block;
  margin: 0;
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
#gallery-con  .ui-button:focus, #gallery-con  .ui-button:active{
  outline: none;
  background: transparent!important;
}
#gallery-con #thumbnails #thumbcon img:first-child{
  /*margin-left: 0!important;*/
}
/* line 111, scss/index.scss */

#gallery-con #thumbnails #thumbcon .thumb {
  width: 143px;
  height: 90px;
  display: inline;
  margin: 12px 2px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 10px solid #fff;
}

/* line 121, scss/index.scss */

#gallery-con #thumbnails #thumbcon .thumb:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: .7;
}

/* line 128, scss/index.scss */

#gallery-con #thumbnails #thumbcon .selected {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: .7;
}

/* line 135, scss/index.scss */

#gallery-con #thumbnails .ui-button {

  opacity: 0.60;
  padding: 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 145, scss/index.scss */

#gallery-con #thumbnails .ui-button:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: .7;
  /*-moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;*/
  /*-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;*/
  /*-o-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;*/
  /*box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;*/
}
#gallery-con #thumbnails .ui-button img{
  width: 143px;
  height: 90px;

}
/* line 152, scss/index.scss */

#gallery-con #thumbnails #left-arrow {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}

/* line 161, scss/index.scss */

#gallery-con #thumbnails #right-arrow {
  margin: 12px 0;
  display: inline-block;
  float: right;
  width: 144px;
  height: 90px;;
}
#gallery-con #thumbnails .more-images{
  position: relative;
  opacity: 1!important;

}
#gallery-con #thumbnails #thumbcon .thumb:hover, #gallery-con #thumbnails #thumbcon .thumb.selected{
  box-shadow: none;
}
#gallery-con #thumbnails .more-images > span{
  position: absolute;
  display: block;
  width: 143px;
  height: 90px;
  text-align: center;
  padding-top: 34px;
  font-size: 14px;
  font-family: "OpenSansBold";
  color: rgb(0, 148, 217);
  background: rgba(255,255,255,.7);
}
#gallery-con .ui-button, #gallery-con .ui-button.active{
  border: none;
}
.more-images img{
  border: 10px solid #fff;
}
#gallery-con #thumbnails #playtoggle {
  float: right;
  margin-top: -40px;
  margin-right: 10px;
}

/* line 176, scss/index.scss */

#gallery-con #thumbnails .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 22;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 187, scss/index.scss */

#gallery-con #thumbnails .icon-play {
  background-position: 0 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 191, scss/index.scss */

#gallery-con #thumbnails .icon-pause {
  background-position: -32px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 195, scss/index.scss */

#gallery-con #thumbnails .icon-arrow-right {
  background-position: -64px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 199, scss/index.scss */

#gallery-con #thumbnails .icon-arrow-left {
  background-position: -96px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}







#gallery-con-modal  {
  width: 100%;
  height: 483px;
  margin: 0 auto 0;
  padding: 0;
  text-align: center;
  border: 1px solid transparent;
}
#gallery-con-modal #gallery-main-modal {
  width: 100%;
  position: absolute;
  background: #fff;
  padding: 18px 0;
}


#gallery-con-modal #gallery-hidden-modal {
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  z-index: -1;
}

#gallery-con-modal #thumbnails-modal {
  margin-top: 509px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

#gallery-con-modal #thumbnails-modal #thumbcon-modal {
  width: 433px;
  height: 120px;
  display: inline-block;
  margin: 0;
  margin-right: 0;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}

.product-gallery-modal .modal-dialog{
  width: 939px!important;
  height: 741px;
  margin-top: 4px;
}
.product-gallery-modal .modal-content{
  height: 519px;
}

#gallery-con-modal #thumbnails-modal #thumbcon-modal{
  width: 882px!important;
}

#gallery-con-modal #thumbnails-modal #thumbcon-modal .thumb {
  width: 122px;
  height: 74px;
  display: inline;
  margin: 12px 2px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 10px solid #fff;
}

#gallery-con-modal .ui-button:focus,#gallery-con-modal  .ui-button:active{
  outline: none;
  background: transparent!important;
}


#gallery-con-modal #left-arrow-modal {
  margin-top: 37px;
  display: inline-block;
  float: left;
  background: transparent;
  margin-right: 7px;
}

#gallery-con-modal #right-arrow-modal {
  margin-top: 37px;
  display: inline-block;
  float: left;
  background: transparent;
  margin-left: 7px;
}

#gallery-con-modal .thumb:hover, #gallery-con-modal.thumb.selected{
  box-shadow: none;
}
#gallery-con-modal .more-images > span{
  position: absolute;
  display: block;
  width: 143px;
  height: 90px;
  text-align: center;
  padding-top: 34px;
  font-size: 14px;
  font-family: "OpenSansBold";
  color: rgb(0, 148, 217);
  background: rgba(255,255,255,.7);
}
#gallery-con-modal .ui-button, #gallery-con-modal .ui-button.active{
  border: none;
}
#gallery-con-modal  #playtoggle-modal {
  float: right;
  margin-top: -40px;
  margin-right: 10px;
}

#gallery-con-modal .icon {
  display: inline-block;
  cursor: pointer;
  z-index: 22;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}


#gallery-con-modal.icon-arrow-right {
  background-position: -64px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#gallery-con-modal .icon-arrow-left {
  background-position: -96px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#gallery-con-modal #gallery-main-modal img {
  width: 900px;
  height:476px;
}


@media screen and (min-width:985px) and (max-width:1199px){
  #gallery-con {
    height: 349px;
  }
  #gallery-con #gallery-main img {
    width: 439px!important;
    height: 279px!important;
  }
  #gallery-con #thumbnails #thumbcon {
    width: 364px;
  }
  #gallery-con #thumbnails #thumbcon .thumb {
    width: 117px;
  }
  #gallery-con #thumbnails #right-arrow{
    width: 111px;
    float: left;
  }
  #gallery-con #thumbnails .ui-button img {
    width: 116px;
  }
  #gallery-con #thumbnails .more-images > span{
    width: 111px;;
  }
  #gallery-con #thumbnails {
    margin-top: 340px;
  }
  #gallery-con #thumbnails #thumbcon{
    margin-right: 0;
  }

}


@media screen and (max-width:985px){

  .product-gallery-modal .modal-dialog{
    height: calc(100vh);
    width:  calc(100vw)!important;
    margin: 30px 0;
  }
  .modal-header .close {
    margin-right: 28px;
    margin-top: -26px;
  }
  #gallery-con-modal #thumbnails-modal #thumbcon-modal {
    width: 80% !important;
  }
  #gallery-con-modal #thumbnails-modal #thumbcon-modal .thumb{
    width: 25%;
  }
  #gallery-con-modal #thumbnails-modal {
    margin-top: calc(100vh - 143px);
  }
  #gallery-con-modal #gallery-main-modal img {
    width: calc(100vw - 50px);
    margin-left: -18px;
    height: calc(100vh - 189px);
  }
  #gallery-con-modal #gallery-main-modal{
    padding: 18px 25px;
  }
  .product-gallery-modal .modal-content{
    height: calc(100vh - 150px);
  }
  #gallery-con {
      height: 303px;
  }
  #gallery-con #gallery-main img {
    width: 91%!important;
    height: 232px!important;
  }

  #gallery-con #thumbnails #thumbcon {
    width: 75%;
  }
  #gallery-con #thumbnails #thumbcon .thumb {
    width: calc( 31.333333% + 2px);
  }
  #gallery-con #thumbnails #right-arrow{
    width: 25%;
    float: right;
  }
  #gallery-con #thumbnails .ui-button img {
    width: 100%;
  }
  #gallery-con #thumbnails .more-images > span{
    width: 100%;
  }
  #gallery-con #thumbnails {
    margin-top: 294px;
  }
  #gallery-con #thumbnails #thumbcon{
    margin-right: 0;
  }
  #gallery-con .img-zoom {
    bottom: 125px;
  }
  }